<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的消息</title>

    <link href="../css/mui.min.css" rel="stylesheet" />
    <link href="../css/swiper3.07.min.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/base.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <style>


    </style>
</head>

<body>


    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--侧滑菜单部分-->
        
        <aside id="offCanvasSide" class="mui-off-canvas-left">

            <section class="pd bg_kjhg_sert pt10 mui-row pm10">
                <img src="../img/login_logo.png" class="logo_klh_sd fl">
                <section class="ov pr10">
                    <p class="fz16 cf tr mt30">
                        游客，欢迎您！
                    </p>
                    <p class="cf tr mt20 fz12 tyer_swr">
                        账户余额<br> ￥
                        <span class="fz30">0</span>
                    </p>
                </section>
            </section>
            <ul class="mui-table-view" id="cebian">
                <li class="mui-table-view-cell clj"  data-href="../user/xiugai.html?id_s=0&title=修改登录密码" >
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-ren fz28 cz"></i></span>
                        <span class="fz16 z3">
                    修改登录密码
                </span>
                    </a>
                </li>
                <li class="mui-table-view-cell clj"  data-href="../user/xiugai.html?id_s=1&title=修改支付密码">
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-yaochi fz28 cz"></i></span>
                        <span class="fz16 z3">
                    修改支付密码
                </span>
                    </a>
                </li>
                <li class="mui-table-view-cell clj" data-href="../user/bangka.html">
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-yinhangqia fz24 cz"></i></span>
                        <span class="fz16 z3">
                    银行卡管理
                </span>
                    </a>
                </li>
                <li class="mui-table-view-cell clj"  data-href="../user/bhsd.html">
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-shezhishedingpeizhichilun fz28 cz"></i></span>
                        <span class="fz16 z3">
                    偏好设定
                </span>
                    </a>
                </li>
                <li class="mui-table-view-cell clj" data-href="../user/bangzhu.html">
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-bangzhu fz24 cz"></i></span>
                        <span class="fz16 z3">
                    帮助说明
                </span>
                    </a>
                </li>
                <li class="mui-table-view-cell">
                    <a class="mui-navigate-right">
                        <span class="f_b sjh_icosdr"><i class="dx icon-tuichu fz20 cz"></i></span>
                        <span class="fz16 z3">
                    登入
                </span>
                    </a>
                </li>
            </ul>
            <span class="sd_jgh_sdr bgred cf">
    V4.0.8
    </span>



        </aside>
                <div class="mui-inner-wrap act" id="huodongtg">
            <section class="dsf_bg_sert pd mui-row">
                <p class="logo_sd fl">
                    <img src="../img/login_logo.png">
                </p>
                <section class="ov pl10 df_scerttx">
                    <p class="fz18 cf">下载APP</p>
                    <p class="cf fz14">
                  生原用户体验  领取优惠大礼包
                    </p>
                </section>
                <span class="xiazai_set">下载</span>
                <i class="dx icon-kefu-tuichu- close_erer"></i>
            </section>
                    
                    
            <header class="mui-bar mui-bar-nav asd_uy_dftx bbm">
                <a class="dx icon-hanbao red hanao_sdrrx f_b " id="caidna_s"></a>

                <h1 class="mui-title z3">
                    <img src="../img/logo.png" class="logo_sdsrtc">
                </h1>
                <span class="fr red sd_h_eretxc fz15">
                    <span  class="denglu clj" data-href="../user/denglu.html">登录</span>
                    <span class="zhuce clj"  data-href="../user/zhuce.html">注册</span>
                </span>

            </header>


            <section class="pd pt10 pm10 bgff pr pt55">
                <div class="mui-segmented-control ">
                    <a class="mui-control-item mui-active" href="#item1"> 
						活动推广（8）
					</a>
                    <a class="mui-control-item" href="#item2">
						平台公告
					</a>
                    <a class="mui-control-item" href="#item3">
						站内信（8）
					</a>
                </div>

            </section>




            <div id="pullrefresh" class=" mui-scroll-wrapper  bgff dsf_jgh_erettxc pm50">
                <div class="mui-scroll" id="huodongtg">
                    <div id="item1" class="mui-control-content mui-active">
                        <ul class="mui-table-view">

                            <li class="mui-table-view-cell clj" v-for="ds in d_dtas" :data-href="ds.url+'.html?title_s='+ds.name+'&time='+ds.time" >
                                <p class="ng_sertxc">
                                    <img :src="ds.img" class="w100 ">
                                </p>
                                <p class="mt10">
                                    <span class="bgred cf d_sdr_s fz12" v-if="ds.isnew">新</span>
                                    <span class="z3 fz14">
               {{ds.name}}
                </span>
                                    <span class="z9 fz12 fr">{{ds.time}}</span>
                                </p>
                            </li>

                        </ul>
                    </div>
                    <div id="item2" class="mui-control-content">

                        <ul class="mui-table-view">
                            <li class="mui-table-view-cell clj" v-for=" dt in date_lisrt"  :data-href="'ddtgxq_c.html?title_s='+dt.name+'&time='+dt.time"    >
                                <a class="mui-navigate-right">
                                    <p class="f_b dian dsf_sdf_sd dian">{{dt.name}}</p>
                                    <span class="z9 fz12 fr mr20">{{dt.time}}</span>
                                </a>
                            </li>
                        </ul>


                    </div>
                    <div id="item3" class="mui-control-content">
                       <ul class="mui-table-view">
                            <li class="mui-table-view-cell clj" v-for=" dt in date_lisrter"  :data-href="'ddtgxq_c.html?title_s='+dt.name+'&time='+dt.time">
                                <a class="mui-navigate-right">
                                    <p class="f_b dian dsf_sdf_sd dian">{{dt.name}}</p>
                                    <span class="z9 fz12 fr mr20">{{dt.time}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item clj " data-href="../index.html">
                    <span class="sd_juy_ertc">
		    		  <i class="dx icon-shouye fz18"></i>
		    	</span>

                    <span class="mui-tab-label df_sdrtxdfcv">首页</span>
                </a>
                <a class="mui-tab-item clj " data-href="../zijin/index.html">
                    <span class="sd_juy_ertc">
		    		  <i class="dx icon-zijinguanli fz22"></i>
		    	</span>

                    <span class="mui-tab-label df_sdrtxdfcv">资金管理</span>
                </a>
                <a class="mui-tab-item clj mui-active" data-href="../xiaoxi/index.html">
                    <span class="sd_juy_ertc">
		    		  <i class="dx icon-iconset0401 fz22"></i>
		    	</span>

                    <span class="mui-tab-label df_sdrtxdfcv ">我的消息</span>
                </a>
                <a class="mui-tab-item clj " data-href="../lishijl/index.html">
                    <span class="sd_juy_ertc">
		    		  <i class="dx icon-lishijilu fz24"></i>
		    	</span>

                    <span class="mui-tab-label df_sdrtxdfcv">历史记录</span>
                </a>
                <a class="mui-tab-item clj " data-href="../kefu/index.html">
                    <span class="sd_juy_ertc">
		    		  <i class="dx icon-kehufuwukefu fz24"></i>
		    	</span>

                    <span class="mui-tab-label df_sdrtxdfcv">客户服务</span>
                </a>
            </nav>
            <div class="mui-off-canvas-backdrop"></div>



        </div>
    </div>




    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/webviewGroup.js"></script>
    <script src="../js/page/xiaoxi/index.js"></script>

</body>

</html>
