@font-face {
    font-family: "dx";
    src: url('../fonts/iconfont.ttf?t=1512367290333');
}

.dx {
    font-family: "dx" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gou3:before {
    content: "\e5a8";
}

.icon-bugouxuan:before {
    content: "\e610";
}
