body {
    padding-bottom: 100px;
    background: #F1F2F6;
}

.mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #ccc;
    box-shadow: 0 0px 0px #ccc;
}

.mui-bar-nav {
    background: #1e2429
}

.hiyu_ds_df {
    position: absolute;
    right: 10px;
    top: 3px
}

.mui-popup-buttons .mui-popup-button-bold {
    background: #DD433B !important;
    color: #fff !important
}

.mui-popup-buttons .mui-popup-button {
    background: #FAFAFA;
    color: #333
}

.ding {
    z-index: 9999
}

.hiyu_ds_df a {
    padding: 2px 10px!important;
    background: #42464b;
    color: #999;
    border: 1px solid #42464b
}

.mhg_sd_sd {
    background: #01b562;
    padding-bottom: 20px;
    position: relative;
    border: 2px solid #01b562
}

.df_d_sfgf {
    padding-right: 5px;
    margin-bottom: 10px
}

.df_d_sfgf:nth-child(2n) {
    padding-right: 0;
    padding-left: 5px
}

.sjg_iuy_sd {
    background: #f8e71c;
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2px 4px 2px 10px;
    font-size: 16px;
    top: 2px
}

.df_uiuy_sdf img {
    width: 50px;
    position: absolute;
    left: 0;
    bottom: -2px;
    margin: auto;
    left: 0;
    right: 0
}

.xujygh_sdf {
    width: 30px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    display: none
}

.mhg_sd_sd.act {
    border: 2px solid #ff0036
}

.mhg_sd_sd.act .xujygh_sdf {
    display: block
}

.xq_iyt_sd {
    width: 26px;
    position: absolute;
    left: 0;
    top: 0
}

.dsf_iuy_sdf {
    background: #fff;
    width: 300px;
    min-height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    top: 20%;
    display: none
}

.dsf_d_sff {
    height: 120px
}

.dsf_dsdrtxc {
    text-indent: 20px
}

.close_oisdf {
    width: 30px;
    position: absolute;
    right: -15px;
    top: -15px
}

.df_iy_sdr {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100
}

.suse_sffx {
    width: 24px
}

.hg_sd_sfgf {
    background: rgba(0, 0, 0, .8)
}

.xia {
    text-decoration: underline
}

.hg_iy_s {
    height: 50px;
    background: #fff;
    line-height: 50px
}

.sd_dd_sf {
    width: 100px;
    height: 100%
}

.sd_dd_sf a {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding: 0;
    font-size: 16px;
    border-radius: 0
}

.sd_dd_sf.ab {
    width: 40px;
    margin-left: 15px;
}

.dsf_tyop_sd {
    height: 220px;
    background: #1E2429;
    overflow: ha
}

.ka_png_sd {
    width: 20px;
}

.dsf_uy_dtxxc {
    background: #04B665;
    height: 177px;
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mt25 {
    margin-top: 25px;
}

.dsf_uy_sdf {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    right: 10px;
    min-width: 150px;
    top: 5px;
    padding-left: 10px;
}

.dsf_uy_sdf.ab {
    position: relative;
    display: inline-block;
    left: 10px;
    right: inherit;
}

.dfsg_iy_drtx {
    width: 38px;
    height: 38px;
}

.dsf_iy_sd {
    line-height: 1.3;
    margin-top: 2px;
}

.dsf_uiy_df {
    background: rgba(255, 255, 255, 0.3);
    padding: 4px 6px 4px 10px;
    border-radius: 10px;
}

.df_d_sdttx {
    width: 90px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px;
}

.laba_png_dsd {
    width: 20px;
}

.sdf_d_sdttxc {
    height: 21px;
}

.asd_uy_dftx {
    background: #FFFFFF;
    z-index: 10000
}

.dui_topo {
    background: #05B264;
    height: 47px;
    line-height: 47px;
}

.df_d_drttx {
    margin-left: 20px;
}

.tab_qiehuan_d {
    width: 190px;
    margin: auto;
}

.qiehuan_tao {
    height: 40px !important;
    border-bottom: 1px solid #D4D4D6;
}

.mui-bar-tab .mui-tab-item {
    height: 40px;
    color: #333;
    border-bottom: 2px solid #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: inherit
}

.mui-bar-tab .mui-tab-item.mui-active span {
    color: #EB0000;
    border-bottom: 2px solid #EB0000;
    padding-bottom: 10px;
}

.fada_dsf_da {
    width: 18px;
    position: relative;
    bottom: 2px;
}

.fada_dsf_db {
    width: 22px;
    margin-left: 6px;
}

.tu_iccons {
    position: absolute;
    right: 10px;
    top: 9px;
}

.ou_dsdrttxc {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff !important;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
    display: none
}

.ou_dsdrttxc input {
    width: 100% !important;
    border-radius: 0px;
    margin: 0px !important;
}

.top_sdrttcc {
    position: relative;
    z-index: 9999
}

.dsf_uy_ds {
    height: 60px;
    line-height: 60px;
}

.dsf_uy_ds.act i:nth-child(1) {
    display: block;
}

.dsf_uy_ds i:nth-child(1),
.dsf_uy_ds.act i:nth-child(2) {
    display: none
}

.sd_uyt_dsdtx {
    width: 62%;
    margin-left: 10px;
}

.sd_uyt_dsdtx.ab {
    margin-left: 0px;
    width: 76%;
}

.mui-numbox.xiao {
    height: 20px;
    padding: 0 22px;
    width: 80px;
}

.mui-numbox.xiao .mui-btn {
    width: 20px;
}

.mui-numbox.xiao .mui-input-numbox {
    position: relative;
    bottom: 2px;
    text-indent: 0px;
    font-size: 14px;
}

.case_fm_s {
    width: 70px;
    height: 70px;
    border: 1px solid #E9E9EA;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    position: relative
}

.case_fm_s.ab {
    display: block !important;
    width: 74px;
    height: 74px;
}

.case_fm_s img {
    max-height: 100%;
    height: 100%;
}

.case_fm_s span {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 12px;
}

.df_s_sdttxc {
    line-height: 1.3;
    font-size: 14px !important;
}

.jgh_jh_dsf {
    border: 1px solid #EB0000;
    color: #EB0000;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
}

.hg_rowderxc {
    height: 60px;
}

.dfs_uiy_drttx {
    padding: 5px 12px;
}

.kh_ul_list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.kh_ul_list li:active {
    background: #F8F8F8
}

.dsf_uy_ds.ab {
    line-height: 50px;
    position: relative;
    top: 2px;
}

.kh_ul_list li.ab .jgh_jh_dsf,
.kh_ul_list li.ab .dfs_uiy_drttx {
    color: #333;
    border: 1px solid #999
}

.df_uy_sdttxc {
    height: 480px;
    padding-bottom: 100px;
    background: #fff;
}

.kefu_icon {
    width: 25px;
    margin-left: 5px;
    position: relative;
    bottom: 2px
}

.df_d_drtx {
    line-height: 40px;
}

.pl0 {
    padding-left: 0px !important;
}

.ml0 {
    margin-left: 0
}

.df_iu_lddf {
    line-height: 1.4
}

.hyt_ysdf {
    border-bottom: 1px solid #097273
}

.dsf_uiy_drtx {
    height: auto !important
}

.df_juyh_drtx {
    margin: 0px !important;
    padding: 0px;
    text-indent: 0px;
    font-size: 16px;
}

.rihg_s {
    position: absolute;
    right: 0px;
    top: 15px;
}

.ti_successd {
    padding-left: 40px;
    padding-right: 40px;
}

.tniaoo_sdfx {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 0px;
}

.sdf_iuy_xrrtx {
    line-height: 1.3
}

.quxi_sqde {
    padding: 4px 0px;
    width: 74px;
}

.dsf_uy_xdrxc {
    width: 80px;
    position: absolute;
    left: 5px;
    top: 10px;
    opacity: 0.5
}

.meiyou {
    display: none
}

.dsf_juy_drrd {
    width: 150px;
}

.dsf_sd_d {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dsf_sfd_s.act i {
    transform: rotate(180deg)
}

.dsf_iyu_dsdxc li {
    line-height: 35px;
}

.tijiao span:nth-child(2),
.tijiao.act span:nth-child(1) {
    display: none
}

.tijiao.act span:nth-child(2) {
    display: inline-block;
}

.quxiao {
    display: none
}

.quxiao.act {
    display: inline-block
}

.wuiuyssdf {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none
}

.df_uiycdfx {
    width: 300px;
    height: 490px;
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.dsf_juyh_top {
    background: linear-gradient(to right, #53B4FC, #0C90F2);
    min-height: 100px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dfs_ddfdrrxc {
    position: absolute;
    right: 0px;
    color: #fff;
    top: 35px;
}

.asd_uy_sdffs {
    height: 338px;
    position: relative;
}

.dfs_d_dsrrt {
    line-height: 1.2;
    position: relative;
}

.dsf_dsrr_drtx li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dsf_juy_drtx {
    position: absolute;
    left: 63px;
    height: 100%;
    border-left: 1px solid #e0e0e0
}

.cainai_df {
    width: 25px;
    position: relative;
    bottom: 2px;
}

.seer_ds {
    color: #0C90F2
}

.up_icon_dsd {
    width: 20px;
    position: absolute;
    right: 3px;
    top: 5px;
}

.cose_icondf {
    position: absolute;
    width: 100%;
    bottom: -50px;
    text-align: center;
}

.cose_icondf img {
    width: 40px;
}

@media screen and (min-width: 350px) {
    .df_d_drttx {
        margin-left: 40px;
    }
    .df_uiycdfx {
        width: 340px;
        height: 530px;
    }
    .asd_uy_sdffs {
        height: 365px;
    }
    .dsf_juy_drtx {
        left: 72px;
    }
}

@media screen and (max-width: 330px) {
    .case_fm_s {
        display: none
    }
    .sdf_uy_dsrtx {
        padding-left: 0px;
    }
    .df_uy_sdttxc {
        height: 430px;
    }
    .df_d_drtx {
        font-size: 12px
    }
    .case_fm_s.ab {
        margin-right: 10px;
    }
}

@media screen and (min-width: 400px) {
    .df_uy_sdttxc {
        height: 540px;
    }
}
