    body {
        padding-bottom: 100px;
        background: #F1F2F6;
        max-width: 640px;
        margin: auto;
    }

    .mui-bar-nav {
        -webkit-box-shadow: 0 0px 0px #ccc;
        box-shadow: 0 0px 0px #ccc;
    }

    .mui-bar-nav {
        background: #1e2429
    }

    .hiyu_ds_df {
        position: absolute;
        right: 10px;
        top: 3px
    }

    .mui-popup-buttons .mui-popup-button-bold {
        background: #DD433B !important;
        color: #fff !important
    }

    .mui-popup-buttons .mui-popup-button {
        background: #FAFAFA;
        color: #333
    }

    .ding {
        z-index: 9999
    }

    .hiyu_ds_df a {
        padding: 2px 10px!important;
        background: #42464b;
        color: #999;
        border: 1px solid #42464b
    }

    .mhg_sd_sd {
        background: #01b562;
        padding-bottom: 20px;
        position: relative;
        border: 2px solid #01b562
    }

    .df_d_sfgf {
        padding-right: 5px;
        margin-bottom: 10px
    }

    .df_d_sfgf:nth-child(2n) {
        padding-right: 0;
        padding-left: 5px
    }

    .sjg_iuy_sd {
        background: #f8e71c;
        position: absolute;
        right: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 2px 4px 2px 10px;
        font-size: 16px;
        top: 2px
    }

    .df_uiuy_sdf img {
        width: 50px;
        position: absolute;
        left: 0;
        bottom: -2px;
        margin: auto;
        left: 0;
        right: 0
    }

    .xujygh_sdf {
        width: 30px;
        position: absolute;
        right: -2px;
        bottom: -2px;
        display: none
    }

    .mhg_sd_sd.act {
        border: 2px solid #ff0036
    }

    .mhg_sd_sd.act .xujygh_sdf {
        display: block
    }

    .xq_iyt_sd {
        width: 26px;
        position: absolute;
        left: 0;
        top: 0
    }

    .dsf_iuy_sdf {
        background: #fff;
        width: 300px;
        min-height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999;
        top: 20%;
        display: none
    }

    .dsf_d_sff {
        height: 120px
    }

    .dsf_dsdrtxc {
        text-indent: 20px
    }

    .close_oisdf {
        width: 30px;
        position: absolute;
        right: -15px;
        top: -15px
    }

    .df_iy_sdr {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100
    }

    .suse_sffx {
        width: 24px
    }

    .hg_sd_sfgf {
        background: rgba(0, 0, 0, .8)
    }

    .xia {
        text-decoration: underline
    }

    .hg_iy_s {
        height: 50px;
        background: #fff;
        line-height: 50px
    }

    .sd_dd_sf {
        width: 100px;
        height: 100%
    }

    .sd_dd_sf a {
        width: 100%;
        height: 100%;
        line-height: 50px;
        padding: 0;
        font-size: 16px;
        border-radius: 0
    }

    .sd_dd_sf.ab {
        width: 40px;
        margin-left: 15px;
    }

    .dsf_tyop_sd {
        height: 220px;
        background: #1E2429;
        overflow: ha
    }

    .ka_png_sd {
        width: 20px;
    }

    .dsf_uy_dtxxc {
        background: #04B665;
        height: 177px;
        margin-top: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .dsf_uy_sdf {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        position: absolute;
        right: 10px;
        min-width: 150px;
        top: 5px;
        padding-left: 10px;
    }

    .dsf_uy_sdf.ab {
        position: relative;
        display: inline-block;
        left: 10px;
        right: inherit;
    }

    .dfsg_iy_drtx {
        width: 38px;
        height: 38px;
    }

    .dsf_iy_sd {
        line-height: 1.3;
        margin-top: 2px;
    }

    .dsf_uiy_df {
        background: rgba(255, 255, 255, 0.3);
        padding: 4px 6px 4px 10px;
        border-radius: 10px;
    }

    .df_d_sdttx {
        width: 90px;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: 0px;
    }

    .laba_png_dsd {
        width: 20px;
    }

    .sdf_d_sdttxc {
        height: 21px;
    }

    .asd_uy_dftx {
        width: 100%;
        background: #FFFFFF;
        z-index: 10000
    }

    .dui_topo {
        background: #05B264;
        height: 47px;
        line-height: 47px;
    }

    .df_d_drttx {
        margin-left: 20px;
    }

    .tab_qiehuan_d {
        width: 190px;
        margin: auto;
    }

    .qiehuan_tao {
        height: 40px !important;
        border-bottom: 1px solid #D4D4D6;
    }

    .mui-bar-tab .mui-tab-item {
        height: 40px;
        color: #333;
        border-bottom: 2px solid #fff;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: inherit
    }

    .mui-bar-tab .mui-tab-item.mui-active span {
        color: #EB0000;
        border-bottom: 2px solid #EB0000;
        padding-bottom: 10px;
    }

    .fada_dsf_da {
        width: 18px;
        position: relative;
        bottom: 2px;
    }

    .fada_dsf_db {
        width: 22px;
        margin-left: 6px;
    }

    .tu_iccons {
        position: absolute;
        right: 10px;
        top: 9px;
    }

    .ou_dsdrttxc {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: #fff !important;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 5px;
        display: none
    }

    .ou_dsdrttxc input {
        width: 100% !important;
        border-radius: 0px;
        margin: 0px !important;
    }

    .top_sdrttcc {
        position: relative;
        z-index: 9999
    }

    .dsf_uy_ds {
        height: 60px;
        line-height: 60px;
    }

    .dsf_uy_ds.act i:nth-child(1) {
        display: block;
    }

    .dsf_uy_ds i:nth-child(1),
    .dsf_uy_ds.act i:nth-child(2) {
        display: none
    }

    .sd_uyt_dsdtx {
        width: 62%;
        margin-left: 10px;
    }

    .sd_uyt_dsdtx.ab {
        margin-left: 0px;
        width: 76%;
    }

    .mui-numbox.xiao {
        height: 20px;
        padding: 0 22px;
        width: 80px;
    }

    .mui-numbox.xiao .mui-btn {
        width: 20px;
    }

    .mui-numbox.xiao .mui-input-numbox {
        position: relative;
        bottom: 2px;
        text-indent: 0px;
        font-size: 14px;
    }

    .case_fm_s {
        width: 70px;
        height: 70px;
        border: 1px solid #E9E9EA;
        text-align: center;
        line-height: 60px;
        overflow: hidden;
        position: relative
    }

    .case_fm_s.ab {
        display: block !important;
        width: 74px;
        height: 74px;
    }

    .case_fm_s img {
        max-height: 100%;
        height: 100%;
    }

    .case_fm_s span {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.5);
        height: 16px;
        line-height: 16px;
        color: #fff;
        font-size: 12px;
    }

    .df_s_sdttxc {
        line-height: 1.3;
        font-size: 14px !important;
    }

    .jgh_jh_dsf {
        border: 1px solid #EB0000;
        color: #EB0000;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
        display: inline-block;
    }

    .hg_rowderxc {
        height: 60px;
    }

    .dfs_uiy_drttx {
        padding: 5px 12px;
    }

    .kh_ul_list li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .kh_ul_list li:active {
        background: #F8F8F8
    }

    .dsf_uy_ds.ab {
        line-height: 50px;
        position: relative;
        top: 2px;
    }

    .kh_ul_list li.ab .jgh_jh_dsf,
    .kh_ul_list li.ab .dfs_uiy_drttx {
        color: #333;
        border: 1px solid #999
    }

    .df_uy_sdttxc {
        height: 480px;
        padding-bottom: 100px;
        background: #fff;
    }

    .kefu_icon {
        width: 25px;
        margin-left: 5px;
        position: relative;
        bottom: 2px
    }

    .df_d_drtx {
        line-height: 40px;
    }

    .pl0 {
        padding-left: 0px !important;
    }

    .ml0 {
        margin-left: 0
    }

    .df_iu_lddf {
        line-height: 1.4
    }

    .hyt_ysdf {
        border-bottom: 1px solid #097273
    }

    .dsf_uiy_drtx {
        height: auto !important
    }

    .df_juyh_drtx {
        margin: 0px !important;
        padding: 0px;
        text-indent: 0px;
        font-size: 16px;
    }

    .rihg_s {
        position: absolute;
        right: 0px;
        top: 15px;
    }

    .ti_successd {
        padding-left: 40px;
        padding-right: 40px;
    }

    .tniaoo_sdfx {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 45px;
        font-size: 16px;
        border-radius: 0px;
    }

    .sdf_iuy_xrrtx {
        line-height: 1.3
    }

    .quxi_sqde {
        padding: 4px 0px;
        width: 74px;
    }

    .dsf_uy_xdrxc {
        width: 80px;
        position: absolute;
        left: 5px;
        top: 10px;
        opacity: 0.5
    }

    .meiyou {
        display: none
    }

    .dsf_juy_drrd {
        width: 150px;
    }

    .dsf_sd_d {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dsf_sfd_s.act i {
        transform: rotate(180deg)
    }

    .dsf_iyu_dsdxc li {
        line-height: 35px;
    }

    .tijiao span:nth-child(2),
    .tijiao.act span:nth-child(1) {
        display: none
    }

    .tijiao.act span:nth-child(2) {
        display: inline-block;
    }

    .quxiao {
        display: none
    }

    .quxiao.act {
        display: inline-block
    }

    .wuiuyssdf {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99999;
        display: none
    }

    .df_uiycdfx {
        width: 300px;
        height: 490px;
        background: #fff;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
    }

    .dsf_juyh_top {
        background: linear-gradient(to right, #53B4FC, #0C90F2);
        min-height: 100px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .dfs_ddfdrrxc {
        position: absolute;
        right: 0px;
        color: #fff;
        top: 35px;
    }

    .asd_uy_sdffs {
        height: 338px;
        position: relative;
    }

    .dfs_d_dsrrt {
        line-height: 1.2;
        position: relative;
    }

    .dsf_dsrr_drtx li {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .dsf_juy_drtx {
        position: absolute;
        left: 63px;
        height: 100%;
        border-left: 1px solid #e0e0e0
    }

    .cainai_df {
        width: 25px;
        position: relative;
        bottom: 2px;
    }

    .seer_ds {
        color: #0C90F2
    }

    .up_icon_dsd {
        width: 20px;
        position: absolute;
        right: 3px;
        top: 5px;
    }

    .cose_icondf {
        position: absolute;
        width: 100%;
        bottom: -50px;
        text-align: center;
    }

    .cose_icondf img {
        width: 40px;
    }
    /*会员机制*/

    .huiyun_stop {
        padding-bottom: 15px;
        background: url(../img/user_bgb5f1aff.png);
        background-size: 100%
    }

    .user_icon_j {
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
    }

    .zhang_sdf {
        width: 15px;
    }

    .lingqu_lih {
        background: #fff;
        border-radius: 20px;
        ;
        color: #333;
        font-size: 12px;
        position: absolute;
        right: 0px;
        top: 7px;
        line-height: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lingqu_lih img {
        width: 14px;
        position: relative;
        bottom: 1px;
    }

    .dsf_uy_serd {
        padding-bottom: 15px;
        background: #fff;
        border-top-left-radius: 30px;
        margin-top: 10px;
    }

    .qustishng_s {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        font-size: 12px;
        padding-right: 7px;
        border-radius: 20px;
    }

    .zhf_sdrtdd {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1
    }

    .sd_uy_srtcf {
        background: #fff;
        border: 1px solid #e0e0e0;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        left: -7px;
        top: -5px;
    }

    .sd_uy_srtcf span {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: red;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
    }

    .df_hg_sd_sf {
        margin-top: 20px;
        min-height: 100px;
        height: 100px;
    }

    .dsf_uty_srtx {
        width: 90px;
        padding-top: 10px;
        position: relative;
    }

    .dsf_uty_srtx:after {
        content: " ";
        width: 8px;
        height: 8px;
        background: #A7A7A7;
        ;
        position: absolute;
        left: -4px;
        bottom: -4px;
        transform: rotate(45deg)
    }

    .dsf_uty_srtx.act:after {
        background: #000
    }

    .dsf_uty_srtx .dx {
        font-size: 36px;
    }

    .dsf_uty_srtx.act p.mt10 {
        color: #333
    }

    .dsf_uty_srtx {
        color: #A7A7A7;
        border-bottom: 1px solid #A7A7A7;
    }

    .dsf_uty_srtx.act {
        color: #000;
        border-bottom: 1px solid #000
    }

    .dsf_uty_srtx.act .dsf_i_dr {
        color: #333
    }

    .dsf_i_dr {
        position: absolute;
        left: 8px;
        bottom: -28px;
        font-size: 12px;
    }

    .dsf_ih_dsd.act {
        transform: rotate(180deg)
    }

    .hui_ksdf {
        border-left: 2px solid #333;
        padding-left: 10px;
        line-height: 1;
        display: inline-block;
    }

    .df_iuy_sdcc {
        height: 140px;
        position: relative;
    }

    .df_iuy_sdcc img.fm {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 1
    }

    .df_eriy_sdr {
        width: 140px;
        height: 115px;
        background: #fff;
        ;
        position: relative;
        z-index: 10;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        color: #9A7C3E
    }

    .df_eriy_sdr p {
        color: #9A7C3E
    }

    .bing_sdf {
        width: 20px;
        position: absolute;
        height: 2px;
        background: #9A7C3E;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: -10px;
    }

    .dsf_dftyx {
        background: #9A7C3E;
        color: #fff;
        padding: 3px 10px;
        border-radius: 20px;
        border: 0px;
    }

    .dfs_uiy_ser {
        padding-right: 5px;
        margin-bottom: 10px;
    }

    .dfs_uiy_ser:nth-child(2n) {
        padding-left: 5px;
        padding-right: 0px;
    }

    .dfs_uiy_ser.ab .dsf_dftyx {
        background: #50998E
    }

    .dfs_uiy_ser.ab .bing_sdf {
        border-bottom: 2px solid #50998E
    }

    .dfs_uiy_ser.ab .df_eriy_sdr p {
        color: #50998E
    }

    .dfs_uiy_ser.ac .dsf_dftyx {
        background: #52A0B7
    }

    .dfs_uiy_ser.ac .bing_sdf {
        border-bottom: 2px solid #52A0B7
    }

    .dfs_uiy_ser.ac .df_eriy_sdr p {
        color: #52A0B7
    }

    .dfs_uiy_ser.ad .dsf_dftyx {
        background: #B6637F
    }

    .dfs_uiy_ser.ad .bing_sdf {
        border-bottom: 2px solid #B6637F
    }

    .dfs_uiy_ser.ad .df_eriy_sdr p {
        color: #B6637F
    }

    .dfs_uiy_ser.ae .dsf_dftyx {
        background: #AE3838
    }

    .dfs_uiy_ser.ae .bing_sdf {
        border-bottom: 2px solid #AE3838
    }

    .dfs_uiy_ser.ae .df_eriy_sdr p {
        color: #AE3838
    }

    .dfs_uiy_ser.af .dsf_dftyx {
        background: #BBBBBB
    }

    .dfs_uiy_ser.af .bing_sdf {
        border-bottom: 2px solid #BBBBBB
    }

    .dfs_uiy_ser.af .df_eriy_sdr p {
        color: #0020D7;
        line-height: 1.5
    }

    .df_d_dfgxc {
        width: 50px;
        height: 50px !important;
    }

    .sdf_hg_sdrts li {
        padding-left: 0px;
        padding-right: 0px;
    }

    .jd_iy_sdfx {
        width: 19px;
    }

    .lingqueert {
        border-radius: 20px;
        position: absolute;
        right: 0px;
        top: 20px;
    }

    .df_juh_sf {
        width: 15px;
        height: 15px;
        background: #fff;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: -5px;
        transform: rotate(45deg)
    }

    .sdf_ih_ser {
        width: 180px;
        margin-right: 5px;
    }

    .dsf_iydf_srtxcc {
        height: 260px;
    }

    .dsf_iy_srtx {
        height: 180px;
    }

    .dsf_iy_srtx img {
        width: 100%;
        height: 100%;
    }

    .df_iy_srtx {
        min-height: 150px;
    }

    .dsf_iy_dsrtx {
        width: 38px;
    }

    .dsf_s_dsrtx {
        line-height: 1.3
    }

    .dsf_df_sff {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 50px;
        border-top: 1px solid #EFEFEF;
        background: #fff;
        z-index: 99
    }

    .gund_sd {
        height: 30px;
    }

    .dsf_kj_s {
        line-height: 22px;
        padding-top: 6px;
    }

    .dsf_df_sff a.act p {
        color: #DF2928
    }

    .dsf_iy_sdf {
        background: #E6C659;
        color: #333;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        padding-top: 8px;
        line-height: 1.3
    }

    .df_iy_srtxc {
        height: 40px;
        background: #fff;
        line-height: 40px;
    }

    .df_iy_srtxc p {
        color: #333;
        font-size: 15px;
    }

    .df_iy_srtxc p.act {
        color: #E7CD70
    }

    .dsf_ertiy_dsrtx {
        height: 250px;
        background: #E7CD70
    }

    .dsf_ertiy_dsrtx.ab {
        background: #E43031;
    }

    .ff_u_sdrtc {
        position: absolute;
        background: #fff;
        right: -12px;
        bottom: 11px;
        border-radius: 20px;
        padding: 2px 10px;
    }

    .ff_u_sdrtc:after {
        content: " ";
        position: absolute;
        right: 7px;
        bottom: -3px;
        width: 8px;
        height: 8px;
        background: #fff;
        transform: rotate(45deg)
    }

    .dsf_jug_sdrt {
        color: #999;
        line-height: 1.8
    }

    .icon-down_er.act {
        color: #E7CD70 !important;
        display: inline-block;
        transform: rotate(180deg)
    }

    .df_iyh_rosf .dsf_jug_sdrt:nth-child(2) {
        text-align: center;
        color: #333
    }

    .sdf_jh_sf {
        position: absolute;
        left: 0px;
        top: 0px;
        color: #fff;
        line-height: 1.4;
        text-align: center;
        right: 0px;
        margin: auto;
        top: 90px;
    }

    .sdf_jh_sf p {
        color: #fff;
    }

    .df_iyh_rosf .dsf_jug_sdrt:nth-child(3) {
        text-align: left;
        color: #333
    }

    .dsfds_sd_sf {
        display: none
    }

    .df_u_sf {
        width: 5px;
        height: 5px;
        background: #E43031;
        transform: rotate(45deg)
    }

    .iu_iu_sdf {
        width: 40px !important;
        height: 40px !important;
        text-align: center;
        line-height: 40px;
        background: #BBBBBB;
        border-radius: 50%;
        color: #fff;
    }

    .ml0 {
        margin-left: 0 !important
    }

    .dsf_juh_srtx {
        position: absolute;
        right: 0px;
        top: 20px;
    }

    .dsf_juh_srtx.ab {
        right: 30px;
    }

    .mui-table-view:before,
    .mui-table-view-cell:after {
        background-color: #f5f5f5;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .dsf_sd_serttxc.act .df_iyg_s_srt i {
        transform: rotate(180deg)
    }

    .dsf_sd_serttxc.act .mui-table-view {
        display: none
    }

    .dsf_sd_serttxc.ab .iu_iu_sdf {
        background: #E82C2D;
    }

    .sdf_jigh_drtx {
        margin-left: 0 !important;
        margin-right: -20px !important;
    }

    .dsf_jgh_serx {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #EF4545
    }

    .df_uiy_dsrrt {
        height: 146px;
    }

    .dsf_jgh_serx img {
        width: 25px;
        height: auto
    }

    .gallery-thumbs .swiper-slide {
        padding-top: 15px;
    }

    .gallery-thumbs .swiper-slide.swiper-slide-active .cz_a {
        transform: scale(1.2);
    }

    .gallery-thumbs .swiper-slide.swiper-slide-active p.mt5 {
        color: #333 !important
    }

    .df_ih_der_dr {
        height: 400px;
        position: relative;
    }

    .dsf_ug_dsdft {
        background: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 10px;
    }

    .gallery-top.swiper-container {
        overflow: inherit!important
    }

    .gallery-top .swiper-slide {
        box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
    }

    .gallery-top .swiper-slide.swiper-slide-active {
        width: 90% !important
    }

    .df_yh_dsrt {
        border-top: 1px solid #EF4545;
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100%;
        z-index: 999
    }

    .gallery-thumbs .cz_w.ab .df_yh_dsrt {
        border-top: 1px solid #CECECE;
    }

    .gallery-thumbs .cz_w.ab .dsf_jh_sr,
    .gallery-thumbs .cz_w.ab .dsf_jgh_serx {
        background: #CECECE
    }

    .gallery-thumbs .cz_w.ab .red {
        color: #CECECE !important
    }

    .dsf_jh_sr {
        width: 6px;
        height: 6px;
        background: #EF4545;
        position: absolute;
        left: 0px;
        top: -3px;
        transform: rotate(45deg);
    }

    .df_juh_df {
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: -4px;
        margin: auto;
        background: #fff;
        transform: rotate(45deg);
        box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
    }

    .dsf_ug_sdx {
        width: 20px !important;
        height: auto !important;
    }

    .df_iyh_sdgf {
        padding-bottom: 30px;
    }

    .df_sd_sdf {
        background: #F1F2F6;
        position: relative;
    }

    .dsf_kij_sdf {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .stamp01 {
        width: 100%;
        position: relative;
        overflow: hidden;
        background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #fff 1px);
        background-size: 15px 15px;
        background-position: 10px 3px;
        margin-top: 10px;
    }

    .fz42 {
        font-size: 42px;
    }

    .stamp01:before {
        background-color: #fff;
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 10px;
        right: 0px;
        z-index: -1;
    }

    .df_iusd_srxc {
        width: 60px;
        height: 60px;
        border: 1px solid #f5f5f5;
        margin-left: 10px;
        text-align: center;
        line-height: 60px;
    }

    .df_iusd_srxc img {
        width: 35px;
    }

    .dsf_rsd_tx {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 0px;
        width: 80px;
        text-align: center;
        border-left: 1px dashed #e0e0e0;
    }

    .dsf_rsd_tx:after {
        content: " ";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #F1F2F6;
        position: absolute;
        left: -7px;
        top: -7px
    }

    .dsf_rsd_tx:before {
        content: " ";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #F1F2F6;
        position: absolute;
        left: -7px;
        bottom: -7px
    }

    .dsf_hc_adsfx {
        padding: 2px 10px;
        ;
        border-radius: 20px;
        font-size: 12px;
    }

    .dsf_hc_adsfx.ab {
        background: #999;
        border: 1px solid #999
    }

    .dfs_h_sdf {
        border-top: 1px solid #999;
        padding-left: 10px;
        padding-right: 10px
    }

    .dfs_h_sdf span {
        position: relative;
        bottom: 10px;
        background: #F1F2F6
    }

    .banner_sdf {
        padding-top: 54%;
        position: relative;
    }

    .user_icon_m {
        width: 45px;
        height: 45px
    }

    .sdf_d_drtc {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .df_d_dtt {
        line-height: 1.5;
    }

    .df_d_dtt.ab {
        line-height: 1
    }

    .df_sd_sf {
        height: 32px;
        line-height: 32px;
    }

    .df_y_sd_sfx {
        position: absolute;
        left: 0px;
        top: 50px;
        background: #fff;
        border-top: 1px solid #f5f5f5;
        width: 100%;
        min-height: 100px;
        display: none
    }

    .dsf_y_sd a i {
        display: none
    }

    .dsf_y_sd {
        width: 33.3%;
        float: left;
        padding-right: 10px;
        margin-top: 10px;
        font-size: 12px;
    }

    .dsf_y_sd a {
        background: #F0F2F5;
        border: 1px solid #F0F2F5;
        display: block;
        text-align: center;
        line-height: 30px;
        color: #666
    }

    .dsf_y_sd.act a {
        background: #fff;
        border: 1px solid #EF464B;
        color: #EF464B
    }

    .dsf_y_sd.act a i {
        display: inline-block;
    }

    .dsf_kh_ddtxc {
        width: 162px;
        height: 125px;
    }

    .dsf_sd_srft {
        padding: 2px 6px;
    }

    .dsf_sdtxc {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .dsf_uygh_sdrxc {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -50px;
        border: 1px solid #e0e0e0
    }

    .dsf_sd_sdf {
        padding: 3px 10px;
    }

    .clos_ssrgfx {
        position: absolute;
        right: 0px;
        top: 10px;
    }

    .sd_left {
        width: 72px;
        height: 72px;
        background: #1195DB;
        color: #fff;
        text-align: center;
        line-height: 72px;
        font-size: 20px;
    }

    .dinguie_sd {
        position: absolute;
        right: 0px;
        top: 15px;
    }

    .df_iy_sd_sdf {
        width: 130px !important;
        height: 103px !important;
    }

    .df_iy_sd_sdf img {
        width: 100%;
        height: 100%
    }

    .dfs_iyh_sdf {
        height: 45px;
    }

    .mt35 {
        margin-top: 35px;
    }

    .khjg_row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .ss_icondsf {
        width: 22px;
        position: absolute;
        left: 10px;
        top: 12px;
    }

    .ss_icondsf_b {
        width: 22px;
        position: absolute;
        right: 10px;
        top: 12px;
    }

    .dsf_s_sdgf {
        text-align: center;
        line-height: 45px;
    }

    .dsf_s_sdgf img {
        width: 95px;
    }

    .dsf_ih_sd {
        height: 45px;
        line-height: 45px;
        margin-bottom: 0px;
    }

    .dsf_ih_sd img {
        width: 30px;
        height: 30px;
    }

    .dsf_ih_sd.ab img {
        width: 35px;
    }

    .dsf_ih_sd.ac img {
        width: 35px;
        height: 35px;
    }

    .df_jhgh_sd {
        width: 20px !important;
        height: 20px !important;
        position: relative;
        bottom: 2px;
    }

    .sanh_sdf {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        right: 0px;
        bottom: 0px;
        color: #fff;
        font-size: 12px;
        padding: 2px 10px;
        ;
    }

    .dsf_ih_ds_df {
        height: 500px;
    }

    h4 {
        line-height: 1.4
    }

    .df_jh_sd {
        width: 35px;
        height: 35px;
    }

    .dsf_d_sdfgf {
        border-radius: 20px;
        width: 100px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .wxcfds_h_s {
        width: 75px;
    }

    .dsf_jg_dsr {
        background: #FC2020;
        color: #fff;
        padding: 2px 20px 2px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        ;
    }

    .usere_isdf {
        width: 40px;
        height: 40px;
    }

    .sdf_sdrf {
        background: #F6F6F6;
        padding: 2px 10px;
        border-radius: 10px;
    }

    .dsf_jh_sd {
        background: #F6F6F6
    }

    .dsf_ih_sfd li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dsf_u_sdxc {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background: #fff;
        height: 50px;
        z-index: 999;
        border-top: 1px solid #e0e0e0
    }

    .dsf_d_sdfgx {
        padding-top: 7px;
    }

    .dsf_d_sdfgx input {
        margin: 0px;
        padding: 0px;
        border-radius: 20px;
        background: #F5F5F5;
        text-indent: 40px;
        font-size: 15px;
        height: 35px;
        border: 1px solid #F1F1F1;
    }

    .df_jh_sdfgfx {
        position: absolute;
        left: 10px;
        font-size: 20px;
        top: 15px;
    }

    .dsf_dd_sdrtx .mui-col-xs-4 {
        line-height: 50px;
    }

    .dsf_juy_dsrrt {
        position: absolute;
        right: -10px;
        top: -8px;
        background: #fff;
        line-height: 1
    }

    .fmhg_drfrt {
        position: relative;
        bottom: 3px;
    }

    .sdf_hh_sdf {
        border: 2px solid #C9C9C9;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
    }

    .sdf_hh_sdf input {
        margin-bottom: 0px;
        background: #fff;
        height: 40px;
        line-height: 40px !important;
        text-align: left
    }

    .dsf_uhg_srtrtt {
        background: #C0C0C0;
        text-align: center;
    }

    .df_uh_sdfgx {
        height: 10rem;
        position: relative;
    }


    .df_uh_sdfgx .swiper-pagination {
        bottom: -35px;
        width: 100%;
    }
.dsf_jh_drt .box_a{
    padding-right: 5px;
    word-spacing: 30px;
}
.df_sd_sdgxc .swiper-slide{
    position: relative;
    padding-top: 40px;
}
.fd_jh_drttxc{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

    .df_uh_sdfgx  .swiper-pagination-bullet {
        margin-left: 10px;
        background: transparent;
        border: 1px solid #333
    }
    .df_uh_sdfgx   .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #333;
    }



    .dsf_frt_ft {
        height: 5.5rem
    }

    .dsf_frt_ft img {
        width: 100%;
        height: 100%;
    }

    .dsfds_uiyu_sdf .dsf_jhkh_as {
        border: 1px solid #EEEEEE;
        padding: 5px;
    }

    .dsf_ds_sd {
        border-right: 1px solid #DCDCDC;
        padding-right: 10px;
        padding-left: 10px;
    }

    .dsf_ds_sd:nth-child(3) {
        border: 0px;
    }

    .mjhg_jhg_sdf {
        border-top: 1px solid #767676;
        width: 200px;
        margin: auto;
        text-align: center
    }

    .mjhg_jhg_sdf span {
        background: #F1F2F6;
        padding: 5px 10px;
        position: relative;
        bottom: 10px;
    }

    .jiesosdfxc {
        text-indent: 20px;
        line-height: 1.5;
        font-size: 15px;
    }

    .dsf_jug_sdrx {
        width: 20px;
    }

    .sdf_ih_sdertxc i:nth-child(2) {
        position: absolute;
        left: 0px;
        top: 0px;
        transform: rotate(180deg)
    }

    .sore_sdf.act .sdf_ih_sdertxc i:nth-child(1) {
        color: #FA5A16
    }

    .sore_sdf.act.ab .sdf_ih_sdertxc i:nth-child(1),
    .sdf_ih_sdertxc i {
        color: #666666
    }

    .mt45 {
        margin-top: 45px;
    }

    .sore_sdf.act.ab .sdf_ih_sdertxc i:nth-child(2) {
        color: #FA5A16
    }

    .df_juhg_drtxc.ab {

        position: fixed;
        width: 100%;
        top: 45px;
        display: none;
        z-index: 999;
    }

    .df_juhg_drtxc .box_a {
        padding-bottom: 10px;
    }

    .df_juhg_drtxc .box_a.act .hm_s {
        color: #FA5A16;
        padding-bottom: 10px;
        border-bottom: 2px solid #FA5A16;
    }

    .box_s {
        display: flex !important
    }

    .dsf_iyh_srt span {
        background: #D0AD1B;
        color: #fff;
        border-radius: 4px;
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 18px;
        line-height: 35px;
        margin-left: 10px;
    }

    .fz38 {
        font-size: 38px;
    }

    .dsf_iyh_srt span:first-child {
        margin-left: 0px;
    }

    .kt_oi_sd {
        color: #D0AD1B;
        font-size: 16px;
        margin-top: 5px;
    }

    .df_khj_drtxc {
        border: 1px solid red;
        height: 30
    }

    .dsf_ih_sdfg {
        line-height: 1.4;
        margin-top: 8px;
    }

    .df_ijh_dsdtx {
        height: 40px;
        line-height: 40px;
    }

    .df_khj_cryycv .mui-col-xs-3 {
        margin-bottom: 10px;
    }

    .dsf_kjgh_drtxc {
        background: linear-gradient(to bottom, #5B5E6F, #F1F2F6);
    }

    .jh_kh_uertx {
        padding-top: 20px;
        padding-bottom: 20px;
        background: #F5CB3B;
        padding-left: 30px;
        padding-right: 30px;
    }

    .ds_jgh_nggfsd {
        display: block;
        background: #D0CCC1;
        border: 1px solid #F5CB3B;
        overflow: hidden;
        position: relative;
    }

    .df_kh_dsdrt {
        color: #B58416;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #B58416;
    }

    .df_kh_dsdrtab {
        color: #B58416;
        text-align: center;
    }

    .dianer_sf {
        position: absolute;
        left: -10px;
        top: 21px;
        background: #fff;
        width: 20px;
        height: 20px;
        border: 1px solid #B58416;
    }

    .dianer_sf.ab {
        left: inherit;
        right: -10px;
    }

    .pl5 {
        padding-left: 5px;
    }

    .sf_h_drtxc {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .df_jhg_uert {
        background: #D0AD1B;
        font-size: 18px;
        color: #fff;
        padding: 2px 10px 2px 5px;
        ;
    }

    .df_jhg_uert i {
        position: relative;
        bottom: 2px;
    }

    .lanse {
        color: #1499E0
    }

    .ds_juh_ul {
        margin-top: 15px;
    }

    .ds_juh_ul li {
        line-height: 30px;
    }


    .dsf_iuy_drtxc {
        height: 50px;
        background: #fff;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 999;
        width: 100%;
    }

    .dsf_iuy_drtxc a {
        white-space: nowrap;
        line-height: 50px;
        text-align: center;
    }

    .dsf_iuy_drtxc a:nth-child(1) {
        background: #222536;
        color: #fff
    }

    .dsf_iuy_drtxc a:nth-child(2) {
        padding-left: 10px;
        padding-right: 10px;
        background: #F5CB3B
    }

    .dsf_jh_sdferf {
        background: #DA3232;
    }

    .dsf_uh_serxc {
        height: 5.5rem
    }

    .dsf_uh_serxc img {
        width: 100%;
        height: 100%;
    }

    .dsf_jhkh_as.akmng {
        border: 1px solid #fff;
        margin-bottom: 0px;
        padding: 5px !important
    }

    .v_nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 45px;
        background-color: rgba(238, 238, 238, 0.9);
        border-top: #dcdcdc 1px solid;
        z-index: 999;
        padding: 0px;
        margin: 0px;
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .vf_nav {
        width: 100%;
        height: 45px;
        margin: auto;
        padding: 0px;
        margin: 0px;
    }

    .vf_nav ul li {
        width: 20%;
        height: 45px;
        float: left;
        text-align: center;
        margin: 0px;
    }

    .vf_nav ul li a {
        text-align: center;
        font-size: 12px;
        color: #333;
        width: 45px;
        display: block;
        height: 45px;
        position: relative;
        margin: auto;
    }

    .vf_nav ul li i {
        display: block;
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .vf_1,
    .vf_2,
    .vf_3,
    .vf_4,
    .vf_5 {
        background: url("../img/footer_navimg.png") no-repeat;
        background-size: auto 180px;
    }

    .vf_1 {
        background-position: -2px -6px;
    }

    .vf_2 {
        background-position: -2px -47px;
    }

    .vf_3 {
        background-position: 0 -81px;
    }

    .vf_4 {
        background-position: -1px -114px;
    }

    .vf_5 {
        background-position: -1px -147px;
    }

    .global-nav__nav-shop-cart-num {
        position: absolute;
        top: 2px;
        color: #fff;
        text-align: center;
        font-weight: normal;
        font-size: 10px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        background: #f23030;
        border-radius: 50%;
        font-style: normal
    }

    .vf_nav ul li span {
        display: block;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        position: relative;
        bottom: 2px;
    }

    .dsf_jh_dd_dsf {
        border: 1px solid #F8D54A;
        height: 34px;
        line-height: 34px;
        border-radius: 4px !important;
        margin-top: 6px !important;
    }

    .dsf_jh_dd_dsf p {
        color: #333
    }

    .dsf_jh_dd_dsf p.act {
        background: #F8D54A;
        ;
    }

    .remensaidsd {
        background: #93B3DD;
        color: #fff;
        padding: 4px 10px;
    }

    .user_icon_s {
        width: 30px;
        height: 30px;
    }

    .d_use_topwer {
        line-height: 30px;
    }

    .d_jg_ddfgx {
        position: relative;
        top: 2px
    }

    .df_umsdf {
        position: relative;
        top: 3px;
    }

    .nkhdf_der {
        width: 33.33%;
        float: left;
        padding-bottom: 36.33%;
        position: relative;
        float: left;
        overflow: hidden;
        cursor: pointer;
        background-color: #edeeee;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        position: relative;
    }

    .nkhdf_der:before {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        height: 8px;
        width: 100%;
        bottom: 0;
    }


    .nkhdf_der:after {
        content: '';
        display: block;
        background-color: #fff;
        position: absolute;
        right: 0;
        z-index: 1;
        width: 8px;
        height: 100%;
        top: 0;
    }

    .khjh_sdf {
        display: none
    }

    .khjh_sdf li {
        border-bottom: 10px solid #F1F2F6;
        padding-top: 10px;
    }

    .nkhdf_der img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0
    }

    .sjh_sd_stxc span {
        padding: 5px 10px;
        color: #333
    }

    .sjh_sd_stxc span.act {
        background: #FD4D01;
        color: #fff
    }

    .sd_jgh_dsfttc {
        position: relative;
        display: none
    }

    .sd_jgh_dsfttc input {
        margin: 0px;
        border: 2px solid #FD4D01;
        text-indent: 0px;
        font-size: 16px;
    }

    .sd_jgh_dsfttc img {
        width: 25px;
        position: absolute;
        right: 10px;
        top: 6px;
    }

    .jhjg_sde_ds {
        float: left;
        background: #F4F4F4;
        font-size: 14px;
        color: #666;
        margin-top: 8px;
        margin-right: 8px;
        padding: 4px 10px;
    }

    @media screen and (min-width: 350px) {
        .df_d_drttx {
            margin-left: 40px;
        }
        .df_uiycdfx {
            width: 340px;
            height: 530px;
        }
        .asd_uy_sdffs {
            height: 365px;
        }
        .dsf_juy_drtx {
            left: 72px;
        }
    }

    @media screen and (max-width: 330px) {
        .case_fm_s {
            display: none
        }
        .sdf_uy_dsrtx {
            padding-left: 0px;
        }
        .df_uy_sdttxc {
            height: 430px;
        }
        .df_d_drtx {
            font-size: 12px
        }
        .case_fm_s.ab {
            margin-right: 10px;
        }
        .df_iuy_sdcc {
            height: 125px;
        }
        .sdf_jh_sf {
            margin-right: 25px;
        }
        .dsf_kh_ddtxc {
            width: 122px;
            height: 115px;
        }
        .dsf_s_sdt {
            margin-top: 0px !important
        }
        .df_iy_sd_sdf {
            width: 110px !important;
            height: 93px !important;
        }
        .df_iyh_df .mt35 {
            margin-top: 25px;
        }
        .dsf_ih_ds_df {
            height: 400px;
        }
        .df_ihh_sdf {
            font-size: 13px !important;
        }
        .dsf_ih_sdfg span {
            font-size: 12px !important
        }
        .jh_kh_uertx {
            padding: 0px;
            border-top: 1px solid #F4F4F6
        }
    }

    @media screen and (min-width: 400px) {
        .df_uy_sdttxc {
            height: 540px;
        }
        .df_iuy_sdcc {
            height: 150px;
        }
        .df_eriy_sdr {
            width: 160px;
            height: 130px;
        }
        .dsf_dftyx {
            margin-top: 10px;
        }
        .dsf_ih_ds_df {
            height: 540px;
        }
    }
