body {
    padding-bottom: 70px
}

.banner_sdf {
    padding-top: 47%;
    position: relative;
    overflow: hidden;

    background: #fff;
}


/*
.banner_sdf:after{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #fff;
    height: 20px;
    width: 100%;
    z-index: 9999;
 
    
    border-radius: 50px 50px 50% 50%/0 0px 100% 100% ;
    transform: rotate(0deg)

}
*/

.df_d_dfgxc {
    width: 111px!important;
    height: 90px!important
}

.fd_dd_sdfx {
    border: 1px solid #ff5a00;
    color: #ff5a00;
    padding: 1px 5px
}

.df_dsffx {
    width: 18px;
    height: 18px;
    background-position: -35px -522px
}

.df_s_sfgxc {
    background: #8c8c8c;
    color: #fff;
    padding: 1px 5px;
    position: absolute;
    right: 0
}

.hggfsdf_sd {
    height: 55px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    width: 100%;
    border-top: 1px solid #d4d3d4
}

.hggfsdf_sd .fz14 {
    font-size: 12px!important;
    position: relative
}

.hggfsdf_sd .box_a {
    width: 100px
}

.dsf_df_dsfg {
    padding-top: 2px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 3px
}

.hggfsdf_sd {
    color: #515361
}

.df_asddf {
    width: 22px;
    height: 25px;
    background-position: -14px -76px
}

.df_asddf.ab {
    width: 27px;
    height: 24px;
    background-position: -62px -77px
}

.df_asddf.ac {
    width: 29px;
    height: 24px;
    background-position: -105px -76px
}

.df_asddf.ad {
    width: 22px;
    height: 26px;
    background-position: -168px -75px
}

.hggfsdf_sd .box_a.act .df_asddf {
    background-position: -14px -108px
}

.hggfsdf_sd .box_a {
    color: #666
}

.hggfsdf_sd .box_a.act {
    color: #ff5a00
}

.hggfsdf_sd .box_a.act .df_asddf.ab {
    background-position: -62px -109px
}

.hggfsdf_sd .box_a.act .df_asddf.ac {
    background-position: -105px -108px
}

.hggfsdf_sd .box_a.act .df_asddf.ad {
    background-position: -168px -108px
}

.adsfsf_sd {
    width: 61px;
    height: 73px;
    background-position: -210px -75px;
    margin-top: -21px
}

.sd_sd_sfx {
    position: relative;
    bottom: 3px
}

.dsf_s_sdgx {
    width: 90px;
    height: 70px!important
}

.dsf_se_d {
    width: 15px;
    height: 15px;
    background-position: -166px -477px
}

.dsf_se_d.ab {
    background-position: -142px -477px
}

.dsf_d_msd {
    width: 12px;
    height: 18px;
    background-position: -194px -474px
}

.dsf_d_msd.ab {
    width: 14px;
    height: 14px;
    background-position: -226px -476px
}

.sdf_d_ssrtdgxc {
    padding: 2px 6px;
    bottom: 0;
    right: 0
}

.dsf_d_dsfgxc {
    line-height: 24px;
    font-size: 14px;
    color: #696969;
    text-indent: 20px
}

.dsf_d_dsfgxc.ab {
    text-indent: 0
}

.dsf_d_sd_sd {
    width: 50px!important;
    height: 50px!important
}

.dsf_d_sd_sd.ab {
    width: 40px !important;
    height: 40px !important;
}

.df_ds_sretrxc {
    line-height: 1.1
}

.sd_d_sdftr {
    height: 50px;
    background: #ff712c;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    line-height: 50px;
    text-align: center
}

.sd_d_sdftr .box_a {
    font-size: 16px
}

.sdf_d_sgx {
    background: #38424d
}

.dsf_d_sdf {
    height: 30px;
    line-height: 30px
}

.tyytd_a {
    width: 16px;
    height: 17px;
    background-position: -330px -474px
}

.dfs_d_sdfgx {
    line-height: 1.1;
    font-size: 14px!important
}

.tyytd_a.ab {
    width: 20px;
    height: 18px;
    background-position: -333px -445px
}

.werdsf_d_sdggx {
    white-space: nowrap;
    overflow: auto
}

.werdsf_d_sdggx span {
    padding-bottom: 8px;
    margin-right: 20px
}

.werdsf_d_sdggx span.act {
    color: #ff5a00;
    border-bottom: 2px solid #ff5a00
}

.dsfddsf_fd {
    white-space: pre-wrap
}

.df_d_dfgxc.ab {
    max-height: 76px
}

.dianza_sd {
    width: 14px;
    height: 14px;
    background-position: -112px -473px;
    position: relative;
    bottom: 2px
}

.user_top {
    background: #ff5a00;
    height: 110px
}

.user_icon_d {
    width: 65px;
    height: 65px
}

.phone_icon {
    width: 10px;
    height: 14px;
    background-position: -147px -391px
}

.df_dsd_sdgfx {
    width: 23px;
    height: 23px;
    background-position: -177px -380px;
    position: absolute;
    right: 10px;
    top: 10px
}

.df_dsd_sdgfx.ab {
    background-position: -216px -380px
}

.dsf_dffg {
    height: 45px;
    line-height: 45px
}

.dfdsf_dfg {
    width: 23px;
    height: 21px;
    background-position: -261px -382px
}

.dfdsf_dfg.ab {
    width: 21px;
    height: 22px;
    background-position: -308px -382px
}

.dfdsf_dfg.ac {
    width: 20px;
    background-position: -14px -427px
}

.dfdsf_dfg.ad {
    width: 23px;
    height: 20px;
    background-position: -52px -427px
}

.df_ddf_sfgx {
    width: 25%;
    float: left
}

.sdf_df_fgxfg {
    display: inline-block
}

.dsf_d_sfgx {
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    position: absolute;
    right: -7px;
    top: 5px;
    background: red;
    line-height: 1
}

.df_df_dfgx {
    width: 27px;
    height: 22px;
    background-position: -95px -425px
}

.df_df_dfgx.ab {
    width: 25px;
    height: 21px;
    background-position: -140px -427px
}

.df_df_dfgx.ac {
    width: 24px;
    height: 23px;
    background-position: -180px -424px
}

.df_df_dfgx.ad {
    width: 21px;
    height: 24px;
    background-position: -219px -423px
}

.df_df_dfgx.ae {
    width: 23px;
    height: 23px;
    background-position: -251px -423px
}

.df_df_dfgx.af {
    width: 25px;
    height: 24px;
    background-position: -294px -424px
}

.df_df_dfgx.ag {
    width: 26px;
    height: 24px;
    background-position: -11px -468px
}

.df_df_dfgx.ah {
    width: 28px;
    height: 21px;
    background-position: -60px -471px
}

.dsf_ds_sdgfx {
    position: absolute;
    right: 10px;
    top: 10px
}

.dsf_d_sdg {
    width: 105px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 15px
}

.dsf_d_sdg select {
    width: 100%!important;
    height: 100%!important;
    padding: 0!important;
    margin: 0!important;
    font-size: 16px
}

.dsf_df_Sffgd .mui-input-row {
    height: 45px;
    padding-top: 3px
}

.dfg_f_ddfgf {
    height: 150px;
    border: 1px solid #e8e8e8;
    margin: auto;
    position: relative
}

.zhaou_kjisd {
    width: 30px;
    height: 24px;
    background-position: -143px -631px
}

.dsf_sdf_sdfx {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.dfg_f_ddfgf img {
    width: 100%;
    height: 100%
}

#ssd_ooie {
    display: none
}

.sbtndsf_sdf_sdf {
    background: #4a4c5b;
    color: #fff
}

.user_icon_sdf {
    width: 50px;
    height: 50px
}

.ls_er {
    color: #576b95
}

.dsf_d_sdfx {
    width: 10px;
    height: 15px;
    background-position: -17px -41px;
    position: relative;
    bottom: 1px
}

.ds_textdf {
    color: #2a2a2a;
    font-size: 15px;
    line-height: 24px
}

.dsfd_as {
    width: 18px;
    height: 13px;
    background-position: -45px -42px;
    position: relative;
    bottom: 2px;
    margin-right: 5px
}

.dsfd_as.ab {
    width: 17px;
    height: 15px;
    background-position: -78px -43px;
    bottom: 0
}

.dsfd_as.ac {
    width: 17px;
    height: 17px;
    background-position: -114px -39px
}

.shg_dinpu {
    width: 33px;
    height: 29px;
    background-position: -14px -321px
}

.fg_d_sdfgx {
    position: absolute;
    right: 0;
    top: 5px
}

.dsf_dfdfdc {
    width: 33px;
    height: 33px;
    background-position: -59px -319px
}

.dsf_df_dfgx {
    width: 25%;
    display: block;
    float: left;
    position: relative;
    border-bottom: 1px solid #ebebeb
}

.dsf_df_dfgx:nth-child(4n)::after {
    display: none
}

.dsf_df_dfgx::after {
    content: ' ';
    position: absolute;
    border-right: 1px solid #ebebeb;
    height: 100%;
    right: 0;
    top: 0
}

.dsf_dfdfdc.ab {
    background-position: -107px -317px
}

.dsf_dfdfdc.ac {
    background-position: -151px -319px
}

.dsf_dfdfdc.ad {
    background-position: -190px -317px
}

.dsf_dfdfdc.ae {
    background-position: -239px -319px
}

.dsf_dfdfdc.af {
    background-position: -289px -319px
}

.dsf_dfdfdc.ag {
    background-position: -17px -369px
}

.dsf_dfdfdc.ah {
    background-position: -65px -372px
}

.dsf_dd_dsfdf {
    height: 50px;
    line-height: 50px
}

.dsf_dsdsdf {
    width: 35px;
    height: 24px;
    background-position: -14px -194px
}

.dsf_dsdsdf.ab {
    width: 26px;
    height: 30px;
    background-position: -75px -188px
}

.dsf_dsdsdf.ac {
    width: 26px;
    height: 24px;
    background-position: -125px -194px
}

.dsf_dsdsdf.ad {
    width: 38px;
    height: 22px;
    background-position: -177px -195px
}

.dsf_sd_sd {
    width: 6px;
    height: 6px;
    background: #3dbca3;
    position: absolute;
    left: 0;
    top: 18px
}

.dsf_sd_sd.ab {
    background: #f57271
}

.chufa_sdf {
    position: absolute;
    right: 10px;
    top: -20px;
    width: 94px;
    height: 41px;
    font-size: 16px
}

.ds_d_usdewr {
    width: 56px;
    height: 56px
}

.dsf_s_add {
    width: 85px;
    height: 33px;
    background-position: -260px -185px;
    position: absolute;
    right: 0;
    top: 10px
}

.time_sddf {
    width: 11px;
    height: 10px;
    background-position: -340px -263px
}

.time_sddf.ab {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background: #1296db
}

.timew_dsdfx {
    width: 29px;
    height: 29px;
    background-position: -302px -133px;
    position: absolute;
    right: 0;
    top: 15px
}

.dsf_s_add.ab {
    background-position: -14px -242px
}

.dsf_s_add.ac {
    background-position: -124px -241px
}

.dsf_s_add.ad {
    background-position: -241px -242px
}

.dsf_df_sdfx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
}

.map_icon_dd {
    width: 14px;
    height: 19px;
    background-position: -170px -35px
}

.sdf_D_sdfgx input {
    margin: 0;
    padding: 0;
    font-size: 15px;
    background: rgba(255, 255, 255, .8);
    text-indent: 30px;
    border: 0;
    height: 35px
}

.sdf_dsfdgfgfx {
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: #666;
    top: 8px
}

.dsf_d_asdsd {
    width: 23px;
    height: 22px;
    background-position: -207px -29px
}

.dsf_d_asdsd.act {
    width: 25px;
    height: 23px;
    background-position: -241px -31px
}

.dsf_ds_sdsf {
    line-height: 35px!important
}

.sdfs_dsfss {
    width: 54px;
    height: 54px;
    background-position: -69px -666px
}

.ds_Sdf_sd_sdfx .mui-col-xs-3 {
    margin-top: 10px;
    line-height: 1.3;
    margin-bottom: 5px
}

.sdfs_dsfss.ab {
    background-position: -142px -666px
}

.sdfs_dsfss.ac {
    background-position: -217px -666px
}

.sdfs_dsfss.ad {
    background-position: -293px -666px
}

.sdfs_dsfss.ae {
    background-position: -71px -729px
}

.sdfs_dsfss.af {
    background-position: -141px -729px
}

.sdfs_dsfss.ag {
    background-position: -220px -729px
}

.sdfs_dsfss.ah {
    background-position: -295px -730px
}

.sdf_d_sd_sdgfx p span {
    padding-left: 10px;
    padding-right: 10px
}

.sdf_d_sd_sdgfx p.act span {
    border-bottom: 2px solid #ff5a00;
    padding-bottom: 10px
}

.dsfs_d_sdsdfgf {
    white-space: normal
}

.dfs_ds_sdf {
    font-size: 12px;
    border: 1px solid #f5f5f5;
    padding: 4px 10px;
    background: #fff;
    color: #019aff
}

.dfs_ds_sdf.ab {
    color: #586c96;
    background: #f2f2f2
}

.dsfd_d_ssffx {
    width: 69px;
    height: 69px;
    background-position: -257px -514px
}

.dsfd_d_ssffx.ab {
    background-position: -165px -514px
}

.success_ssd {
    width: 26px;
    height: 27px;
    background-position: -11px -556px;
    position: absolute;
    right: 0;
    display: none
}

.dsfsd_sdf.act .dsfd_d_ssffx {
    background-position: -76px -514px
}

.dsfsd_sdf.act .dsfd_d_ssffx.ab {
    background-position: -9px -595px
}

.dsfsd_sdf.act p {
    color: #ff5a00
}

.dsfsd_sdf.act .success_ssd {
    display: block
}

.dsf_sd_sd.ac {
    background: #cfa972
}

.dsf_d_ssdfx {
    padding: 0!important;
    margin: 0!important;
    border: 0!important;
    height: 19px!important;
    font-size: 16px;
    text-indent: 0
}

.dfd_dss_sdfx {
    width: 11px;
    height: 11px;
    background-position: -89px -603px;
    position: absolute;
    left: 0;
    top: 18px
}

.dfd_dss_sdfx.ab {
    background-position: -110px -603px
}

.dfd_dss_sdfx.ac {
    width: 9px;
    height: 11px;
    background-position: -135px -603px;
    top: 16px
}

.dfd_dss_sdfx.ad {
    background-position: -156px -602px;
    top: 16px
}

.dfd_dss_sdfx.ae {
    height: 14px;
    width: 11px;
    background-position: -180px -600px;
    top: 16px
}

.dfd_dss_sdfx.af {
    height: 13px;
    width: 13px;
    background-position: -199px -601px;
    top: 16px
}

.dsf_s_liys_sd li {
    margin-top: 10px;
    background: #fff
}

.dsf_s_liys_sd {
    background: #EFEFF4;
}
.df_s_sdxf{
    padding-bottom: 70px;
}
.dsf_Df_sd li {
    background: #F3F3F3
}

.dsf_d_srtxc {
    border-top: 1px solid #DDDDDD;
    width: 240px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.dsf_d_srtxc span {
    padding: 10px;
    background: #EFEFF4;
    position: relative;
    bottom: 10px;
}

.s_s_vos_sdfx {
    height: 190px;
    position: relative;
}

.s_s_vos_sdfx video {
    width: 100%;
    height: 100%;
}

.prism-big-play-btn {
    width: 45px !important;
    height: 45px !important;
    position: absolute;
    left: 0px  !important;
    right: 0px;
    top: 0px !important;
    bottom: 0px !important;
    margin: auto;
    z-index: 9999;
    background: url(../img/styut_a.png) !important;
    background-size: 100% 100% !important;
}
.df_s_sdxf{
    top: 40px;
}

.sdf_sd_sdtxc{
    border: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 15px;
    margin: 0;
    text-indent: 0px;
}
.df_uy_sd_s{
    width: 142px;
    height: 142px;
    display: inline-block;
    background: #F4F4F4;
    text-align: center
}
.dsf_ad_sd{
    width: 25px;
    height: 26px;
    background-position: -320px -16px;
    margin-top: 50px;
}
.sd_ds_sdf{
    position: relative;
    top: 40px;
}

.dsf_s_sdfx{
    width: 20px;
    text-align: center;
}
.fdsf_sd_sdf{
    width: 12px;
    height: 17px;
    background-position: -194px -475px;
}
.fdsf_sd_sdf.ab{
    width: 16px;
    height: 17px;
    background-position: -231px -604px;
}
.fdsf_sd_sdf.ac{
    width: 17px;
    height: 17px;
    background-position: -268px -599px;
}
.sdf_s_sdff{
    border: 1px solid #F1F1F1 !important;
    margin: 0 !important;
    font-size: 15px;
    text-indent: 0px !important
    
}
.dsf_sd_srtxc{
    width: 20px;
    height: 19px;
    background-position: -310px -599px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.mui-switch.mui-active{
    border-color: #FF5A00;
    background-color:#FF5A00
}
@media screen and (max-width:340px) {
    .df_d_dfgxc {
        width: 100px!important;
        height: 73px!important
    }
    .dsf_d_sdggx {
        margin-top: 0!important
    }
    .sdf_d_ssrtdgxc {
        font-size: 12px!important
    }
    .dsf_s_sdgx {
        width: 85px!important;
        height: 65px!important
    }
    .dfg_f_ddfgf {
        height: 135px
    }
    .ds_s_sdtxc {
        float: inherit;
        display: block;
        height: 35px;
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width:400px) {
    .dfg_f_ddfgf {
        height: 175px
    }
}
