body{background:#f8f8f8;max-width:640px;margin-left:auto;margin-right:auto;padding-bottom:60px}.textarea{border:0;margin:auto!important;text-indent:0;font-size:13px;border-radius:0!important;padding:10px}.sd_df_Dfgx{margin:0!important;padding:0!important;font-size:14px;text-indent:20px;background:#eee!important;border:0!important;border-radius:20px!important}.mui-btn-ls{background:#4eb5ab;color:#fff;border:1px solid #4eb5ab!important}.yj20{border-radius:20px!important}.sdf_Df_Dfgxxc{width:80px}.pt2{padding-top:2px}.pm2{padding-bottom:2px}.df_sd_sdfg_sfgx{line-height:42px}.df_sd_sdfg_sfgx a{vertical-align:middle!important}.gf_df_a{width:55%}.gf_df_b{width:30%}.ssdd_sssdfgfx{width:111px;height:83px}.ssd_Sf_sfgxxc{width:200px;height:200px;background:url(../img/jas_a.png);background-size:100% 100%;margin-left:auto;margin-right:auto;text-align:center;line-height:200px}.ssd_Sf_sfgxxc img{width:150px;shape-inside:150px;vertical-align:middle!important}.sdf_Sdf_Sfgfx{position:fixed;left:0;bottom:0;width:100%;height:50px}.sdf_Sdf_Sfgfx a{display:block;width:50%;float:left;height:100%;text-align:center;line-height:50px;font-size:18px;background:#e9e9e9;color:#4eb5ab}.sdf_Sdf_Sfgfx a:nth-child(1){background:#4eb5ab;color:#fff}.user_icon_s{width:85px;height:85px}.sd_sdf_sfgxc{width:41px;height:24px;position:absolute;right:0;top:0}.sdf_df_ad{width:29px;height:30px;background-position:-15px -21px}.sdf_dfg li{margin-top:10px;line-height:44px;position:relative}.sdf_dfg li i{vertical-align:middle!important}.sdf_dfg li:active{background:#f8f8f8!important}.dfdf_sd_sf{position:absolute;right:10px;top:10px}.sdf_df_ad.ab{background-position:-62px -21px}.sdf_df_ad.ac{background-position:-107px -21px}.sdf_df_ad.ad{background-position:-158px -21px}.sdf_df_ad.ae{background-position:-213px -21px}.sdf_df_ad.af{background-position:-263px -17px}.hggfsdf_sd{height:55px;background:#fff;position:fixed;left:0;bottom:0;width:100%;z-index:999;width:100%;border-top:1px solid #d4d3d4}.hggfsdf_sd a{line-height:1.3;padding-top:3px}.dsf_df_dsfg{height:32px;line-height:32px}.df_asddf{width:25px;height:25px;background-position:-18px -86px;vertical-align:middle!important}.hggfsdf_sd a{color:#b4b4b4}.df_asddf.ab{width:24px;height:24px;background-position:-61px -85px}.df_asddf.ac{width:25px;height:20px;background-position:-103px -91px}.df_asddf.ad{width:21px;height:24px;background-position:-148px -89px}.hggfsdf_sd a.act{color:#4cb5ab}.hggfsdf_sd a.act .df_asddf{background-position:-18px -135px}.hggfsdf_sd a.act .df_asddf.ab{background-position:-61px -135px}.hggfsdf_sd a.act .df_asddf.ac{background-position:-103px -141px}.hggfsdf_sd a.act .df_asddf.ad{background-position:-148px -139px}.adsfsf_sd{width:70px;height:72px;background-position:-181px -56px;position:relative;bottom:32px}.sdf_sdf_sdfgx{padding-left:30px;height:91px;line-height:91px}.sdf_sd_sdgf{width:61px;height:59px;background-position:-277px -79px;vertical-align:middle!important}.df_df_dfgc{width:135px;height:135px}.dsf_sdffsf{width:217px;height:25px;background-position:-14px -189px}.ds_df_df_dggx{padding-top:38%;background:url(../img/bg_a.jpg);background-size:100% 100%;position:relative;margin-bottom:10px}.wedf_df_dfgx{position:absolute;left:0;top:0;width:100%;height:100%;z-index:99}.sd_dsf_dsf{margin-top:12%}.fs_df_dgx{margin-top:5%}.ds_df_df_dggx.ab{background:url(../img/bg_b.jpg);background-size:100% 100%}.ds_df_df_dggx.ac{background:url(../img/bg_c.jpg);background-size:100% 100%}.dsf_df_dggx{width:68px;height:85px}.dfg_shdfgx{width:16px;height:13px;background-position:-17px -258px}.dfgdf_df_dsfgx{line-height:45px}.dsf_sdaix{width:33px;height:27px;background-position:-53px -244px}.df_sd_sdfg_sfgx{line-height:47px}.wesdf_df_dfgx{width:34px;height:34px;position:relative;bottom:4px}.sdf_df_dggx{line-height:1.5;position:relative;top:8px;padding-left:5px}.df_sd_sdfg_sfgx.ab .gf_df_a{width:60%}.sad_sdgxc{color:#4cb5ab!important;border:1px solid #4cb5ab}.df_sd_sdfg_sfgx.ab .gf_df_b{width:10%}.df_sd_sdfg_sfgx.ab .gf_df_c{width:10%}.dfs_df_dsfg{line-height:45px}.dsf_df_sd{width:15px;height:20px;background-position:-105px -250px}.dfds_sdf_sfgx{width:260px;float:right}.dfds_sdf_sfgx.ab{width:100%!important}.dfds_sdf_sfgx input{margin:0;padding:0;background:#eee;border:1px solid #eee;height:34px;font-size:14px}.df_sdf_sfgx{width:20px;height:22px;background-position:-132px -249px;position:absolute;right:10px;top:12px}.aixdf_sdfgf{width:17px;height:14px;background-position:-171px -256px;position:relative;top:2px}.dsf_timeer{width:14px;height:15px;background-position:-200px -255px;position:relative;top:2px}.sdf_df_sfgx{position:absolute;right:0;color:#969696;top:-2px}.dsfds_df_dsfgx{display:block}.gf_df_a.ab{min-width:200px}.gf_df_b.ab{min-width:10px;max-width:60px}.gf_df_c.ac{min-width:50px;max-width:60px}.sad_sdgxc.ab{background:#4cb5ab;color:#fff!important}.sdf_dfd_ddfee a{font-size:15px;padding-bottom:10px;color:#646464}.sdf_dfd_ddfee a.act{color:#333;border-bottom:2px solid #4cb5ab}.dsf_df_sfgx{width:21px;height:15px;background-position:-242px -256px;position:relative;top:3px}.dsfdf_dfdfdg{padding-top:26%;position:relative}.dsf_sfsdfgxcv{position:absolute;left:0;top:0;width:100%;height:100%}.dsf_sfsdfgxcv img{width:100%;height:100%}.swiper-container-horizontal>.swiper-pagination{bottom:5px}.swiper-pagination-bullet{background:#fff}.dsf_sd_sfgxc{width:87px;height:123px;margin:auto}.dsf_sd_sfgxc img{width:100%;height:100%}.dfsg_dsf_dsfg{width:87px;height:30px;margin:auto;text-align:left;line-height:1.2;font-size:14px}.sdf_df_sfgxc{padding-bottom:10px}.dsf_dfdsfdf{position:absolute;left:0;top:10px;width:100%;display:none}.df_dfdfdf{float:left;padding:0 10px;padding-bottom:0!important;margin-right:5px;margin-top:10px}.df_dfdfdf.act{background:#4cb5ab;color:#fff!important;border:0!important}.sdf_dfd_ddfee.act .dsf_dfdsfdf{display:block}@media screen and (max-width:330px){.sdf_sdf_sdfgx{padding-left:15px}.dfs_df_dgg .mt10{margin-top:0!important}.dfds_sdf_sfgx{width:200px}.gf_df_a.ab{min-width:170px}}@media screen and (min-width:400px){.dsf_sd_sfgxc{width:110px;height:160px}.dfsg_dsf_dsfg{width:110px}}
.mui-input-row label {
    width: 70px;
}
.sdf_d_ssdf{
    width: 50%;
    float: left;
        clear: inherit;
}
.sdf_d_ssdf label{
   
}
.fdf_dfggxc{
    text-indent: 10px;
}
.sdf_d_ssdf select,.sdf_d_ssdf input{
    width: 50% !important
}

.sdf_df_sd{
    text-indent: 0px;
}
.sdf_sdsdfgx{
    background:transparent;
}
.sdf_sdsdfgx .mui-input-row {
    background: #fff
}
.sdfds_sd_sdf{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sdfds_sd_sdf{
    width: 80px;
    height: 80px;
    position: relative;
}
.sdfds_sd_sdf img.bg{
    width: 100%;
    height: 100%;
}
.sdf_sd_sdfx{
    position: absolute;
    right: -5px;
    top: -5px;
}

#ssd_ooie{
    display: none
}
.dsf_sd_sfd{
    display: none
}

.dsf_sd_sdgfx{
    display:inline-block;
    width: 50px;
    padding: 0px;
    border: 1px solid #ccc !important;
    text-indent: 10px;
}
.sweexf_sdf_Sdfgx button{
    width: 90%;
    height: 40px;
    font-size: 16px;
}
.sweexf_sdf_Sdfgx p:nth-child(1) button{
    background: #ff0000;
    color: #fff
}
.sweexf_sdf_Sdfgx p:nth-child(2) button{
    background: #009ef6;
    color: #fff
}
.mui-input-group:after{
    display: none
}



.z9{
    color: #999
}
.sdf_s_sfgx{
    line-height: 1.8
}
.fdsf_sds{
    display: inline-block;
    background: url(../img/wx.png);
    width: 28px;
    height: 25px;
    background-size: 100% 100%;
}
.dsf_ds_sd{
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url(../img/success_a.png);
    background-size: 100% 100%;
    position: absolute;
    right: 20px;
}
.dsf_ds_sd.act{
     background:url(../img/success_b.png);
        background-size: 100% 100%;
}
.dsf_sdd_sdf{
    position: fixed;
    left: 0px;
    bottom: 40px;
    width: 100%;
    z-index: 9999;
}

.sdf_s_sdsf a{
    color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}
.sdf_s_sdsf a.act{
    background: #4BB5AB;
    color: #fff;
}



.sdf_s_Sdgx{
    border: 1px solid #FF4185;
    color: #FF4185;
    font-size: 12px;
    padding: 0px 6px;
}
.dsf_s_sd_s.act .sdf_s_Sdgx{
    border: 1px solid #FFE585;
    color: #FFE585;
}


.dsf_s_sd_s{
    display: none
}

