<!--约场馆-->
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>约场馆</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="css/iconfont.css" rel="stylesheet" />
    <link href="css/swiper3.07.min.css" rel="stylesheet" />
    <link href="css/mui.min.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <style>
        body {
            background: #fff;
        }

    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav asd_uy_dftx">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left z3"></a>
        <h1 class="mui-title z3">约场馆</h1>

    </header>
    <div class="mui-content " id="seek_apper">
<section class="sd_jh_deertd">

        <div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted fg_jh_dfeert bbm pr">
            <div class="mui-scroll bbm">
                <section class="f_b " v-for="sd in caidan" :class="sd.cls" @click="sd_df(sd)">
                    {{sd.name}}
                </section>



            </div>
            <span class="sd_jh_ddfrg"><i class="f_i add_icon_er"></i></span>
        </div>
        <section class="mui-row cen pt10 pm10 bbm">
            <section class="mui-col-xs-4 fz16 z3">
            热门推荐
            </section>
                 <section class="mui-col-xs-4 fz16 z3">
            好评评分 <i class="f_i dowun_icon"></i>
            </section>
                 <section class="mui-col-xs-4 fz16 z3">
            商品价格  <i class="f_i dowun_icon"></i>
            </section>
        </section>
        
        </section>
        
        
        <section class="pd pt10" v-for="sd in 5">
            <img src="img/ssdf_df_a.jpg" class="w100 ssdf_df_a kx">
            <section class="mui-row pt10 ">
                <p class="fz16 mui-col-xs-9 dian z3">
                岩之舞攀岩馆-电视塔馆
                </p>
                <p class="mui-col-xs-3 tr"><i class="f_i map_iconrttd"></i> 3/km</p>
                <p>
                <i class="f_i xinxisdrr mr5" v-for="sd in 5"></i>
                </p>
            </section>
        
        </section>
        
        
    </div>
    
    

    <script src="js/mui.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#seek_apper',
            data: {
                caidan:[
                    {
                        name:"篮球",
                        cls:"act"
                    },  {
                        name:"羽毛球",
                        cls:""
                    },  {
                        name:"乒乓球",
                        cls:""
                    },  {
                        name:"跑步",
                        cls:""
                    },  {
                        name:"网球",
                        cls:""
                    },  {
                        name:"瑜伽",
                        cls:""
                    }, {
                        name:"篮球",
                        cls:""
                    },  {
                        name:"羽毛球",
                        cls:""
                    },  {
                        name:"乒乓球",
                        cls:""
                    },  {
                        name:"跑步",
                        cls:""
                    },  {
                        name:"网球",
                        cls:""
                    },  {
                        name:"瑜伽",
                        cls:""
                    }
                ]
            },
            methods: {
                sd_df:function(sd){
                    this.caidan.map(function(a){
                        a.cls=""
                    })
                    sd.cls="act"
                }
            },
            mounted: function() {

            }
        })

    </script>
</body>

</html>
