body{
    background: #F1F1F1;
}
.headr_top{
    height: 90px;
    line-height: 90px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 10000
}
.logo_idr{
    width: 80px;
    height: 80px;
}
.hesd_url a{
    color: #000;
    font-size: 18px;
    margin-left: 18px;
    margin-right: 18px;
}
.hesd_url.ab a{
    color: #999;
    margin-right: 0;
    margin-left: 5px;
    font-size: 14px;
}

.hanbao{
    display: none
}
.sd_jh_ert{
    height: 160px;
    background: url(../img/user_top.jpg)50% 50%;
}
.df_drty{
    padding-top: 90px;
}
.sd_kh_dert{

    background: #E0B643;
}
.sd_kh_dert a{
    color: #fff;
    margin-left: 30px;
        line-height: 40px;
    height: 40px;
    margin-right: 30px;
}
.user_icon{
    width: 90px;
    height: 90px;
}
.dsf_jh_dert{
    padding-left: 50px;
    padding-top: 20px;
}

.sd_jh_der{
    margin-left: 220px;
    
}








@media screen and (max-width: 640px){
    .wd{
        width: 100%;
    }
    .headr_top{
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo_idr{
        width: 40px;
        height: 40px;
        position: absolute;
       margin: auto;
        left: 0px;
        right: 0px;
        top: 5px;
    }
    .dsf_jhhg_der{
      position: fixed;
        right: -300px;
        background: #fff;
        width: 200px;
        z-index: 1;
        top: 50px;
        height: 100%;
        border-left: 1px solid #e0e0e0
    }
    .dsf_jhhg_der.act{
        right: 0px;
    }
    .hanbao{
        display: block;
        position: absolute;
        right: 0px;
        top: 12px;
        width: 25px;
    }
    .hesd_url{
        line-height: 2;
        display: block;
       margin-left: 0px;
    }
    .hesd_url a{
        display: block;
        margin: 0px;
        padding-left: 20px;
        border-top: 1px solid #e0e0e0;
    }
    .hesd_url.ab a{
        width: 50%;
        margin: 0px;
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .df_drty{
        padding-top: 50px;
    }
    .sd_kh_dert a{
        margin: 0px;
        width: 25%;
        float: left;
        text-align: center
    }
    .dfer_rrtjh{
        margin-top: 10px !important;
        padding-left: 10px;
    }
    .user_icon{
        width: 55px;
        height: 55px;
    }
    .dsf_jh_dert{
        padding-left: 10px;
        padding-top: 5px;
    }
    .sd_jh_der {
        margin-left: 0px;
        clear: both;
    }
    .sd_jh_der.ab{
        width: 100%;
    }
    .sd_jh_der.ab p.mt5{
        margin-top: 12px !important;
    }
    .sd_jh_der.ab p{
        width: 50%;
        float: left;
    }
    
}