@font-face {
    font-family: "dx";
    src: url('../fonts/iconfont.ttf?t=15123er90333');
}



.dx {
  font-family:"dx" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuanshi:before { content: "\e600"; }

.icon-fenlei:before { content: "\e60c"; }

.icon-quehuo:before { content: "\e63d"; }

.icon-zan:before { content: "\e646"; }

.icon-taobao:before { content: "\e609"; }

.icon-fenxiang1:before { content: "\e634"; }

.icon-fenxiang2:before { content: "\e66e"; }

.icon-tupian:before { content: "\e604"; }

.icon-qian:before { content: "\e642"; }

.icon-tuichu:before { content: "\e643"; }

.icon-shandianfahuo:before { content: "\e66f"; }

.icon-57:before { content: "\e639"; }

.icon-z112:before { content: "\e67e"; }

.icon-peisong:before { content: "\e6be"; }

.icon-shizhong:before { content: "\e67f"; }

.icon-huangjinhuiyuan0101:before { content: "\e614"; }

.icon-hongbao:before { content: "\e7d5"; }

.icon-61yishixiao:before { content: "\e64f"; }

.icon-build:before { content: "\e662"; }

.icon-mingxi:before { content: "\e701"; }

.icon-fanhui1:before { content: "\e612"; }

.icon-zan1:before { content: "\e6a0"; }

.icon-down_er:before { content: "\e7f9"; }

.icon-paixu-copy:before { content: "\e61d"; }

.icon-right:before { content: "\e65c"; }

.icon-telphone:before { content: "\e67c"; }

.icon-youhuiquan:before { content: "\e61f"; }

.icon-mianfei:before { content: "\e61e"; }

.icon-laba:before { content: "\e6ce"; }

.icon-fuli:before { content: "\e673"; }

.icon-jian:before { content: "\e613"; }

.icon-qia:before { content: "\e622"; }

.icon-gou:before { content: "\e61b"; }

.icon-wode:before { content: "\e664"; }

.icon-fukuan:before { content: "\e61a"; }

.icon-daifahuo:before { content: "\e62f"; }

.icon-pengyouquan:before { content: "\e7d3"; }

.icon-zhijian:before { content: "\e64c"; }

.icon-shouhou:before { content: "\e632"; }

.icon-KAIXIANG:before { content: "\e60b"; }

.icon-xingzhuang6kaobei3:before { content: "\e619"; }

.icon-yue:before { content: "\e62a"; }

.icon-36:before { content: "\e679"; }

.icon-fenleiliebiao:before { content: "\e628"; }

.icon-zhanghaoanquan:before { content: "\e620"; }

.icon-zhucehuiyuan:before { content: "\e64b"; }

.icon-huo:before { content: "\e637"; }

.icon-dianpu:before { content: "\e611"; }

.icon-xiaofei:before { content: "\e7b0"; }

.icon-fenxiang3:before { content: "\e65e"; }

.icon-yilingqu:before { content: "\e63a"; }

.icon-star01:before { content: "\e607"; }

.icon-yiwancheng:before { content: "\e659"; }

.icon-map:before { content: "\e656"; }

.icon-duihua:before { content: "\e62b"; }

.icon-daifahuo1:before { content: "\e62c"; }

.icon-liuyan:before { content: "\e608"; }

.icon-ziying:before { content: "\e671"; }

.icon-qian1:before { content: "\e67a"; }

.icon-jiahao1:before { content: "\e616"; }

.icon-biji:before { content: "\e629"; }

.icon-shaixuanxuanzhong:before { content: "\e605"; }

.icon-jifen:before { content: "\e624"; }

.icon-chongzhi1:before { content: "\e678"; }

.icon-tuihuo:before { content: "\e60e"; }

.icon-zhifubao:before { content: "\e618"; }

.icon-sps:before { content: "\e625"; }

.icon-ArtboardCopy:before { content: "\e8dd"; }

.icon-fenxiang:before { content: "\e602"; }

.icon-dingdan:before { content: "\e62d"; }

.icon-cha:before { content: "\e615"; }

.icon-jia:before { content: "\e650"; }

.icon-weixin:before { content: "\e601"; }

.icon-fensi:before { content: "\e69e"; }

.icon-chongzhi:before { content: "\e603"; }

.icon-yijiandaifa:before { content: "\e640"; }

.icon-qian2:before { content: "\e623"; }

.icon-star:before { content: "\e644"; }

.icon-duihuanjilu:before { content: "\e626"; }

.icon-zhuye:before { content: "\e60d"; }

.icon-tisheng:before { content: "\e6f1"; }

.icon--xuanxiang-bangqiu:before { content: "\e617"; }

.icon-aixin:before { content: "\e60a"; }

.icon-xueshimao:before { content: "\e621"; }

.icon-cart:before { content: "\e60f"; }

.icon-wodefenxiao:before { content: "\e61c"; }

.icon-bugouxuan:before { content: "\e610"; }

.icon-gou3:before { content: "\e708"; }

.icon-ziyuan:before { content: "\e627"; }

.icon-biaoqian-rexiao:before { content: "\e606"; }

.icon-fenlei_liebiao:before { content: "\e62e"; }

.icon-xinpin:before { content: "\e658"; }

