html {
    font-size: 14px;
}

body {
    background: #F4F4F4;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    border: 1px solid #eaeaea!important
}

.mui-bar-nav {
    background: #fff;
    z-index: 99
}

.banner_sddf,
.la {
    background: url(../img/jiazaier.png) center center no-repeat;
}


.fulan_top {
    height: 85px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background: #FBFBFA;
}

.fu_dings {
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.logo_icon {
    width: 143px;
}

.icosousuo {
    width: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.saoma2 {
    position: absolute;
    right: 10px;
    width: 23px;
    top: 11px;
}

.quyu_srtx {
    background: #3B424C;
    height: 40px !important;
    display: block
}

.quyu_srtx.ab {
    background: #fff
}

.quyu_srtx.ab a {
    color: #666 !important;
    border-bottom: 2px solid #fff !important;
}

.quyu_srtx.ab a.mui-active {
    color: #FA5A16 !important;
    border-bottom: 2px solid #FA5A16 !important;
}

.quyu_srtx {
    color: #fff;
}

.quyu_srtx a {
    padding: 0px 10px !important;
    border-bottom: 2px solid #3B424C !important;
}

.quyu_srtx a.mui-active {
    color: #fff !important;
    border-bottom: 2px solid #DB065A !important;
}

.banner_sddf {
    padding-top: 52%;
}

.dsf_uiy_dftx {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 10px;
}

.dsf_uiy_dftx img.fm {
    width: 49px !important;
    height: 46px;
}

#box {
    width: 100%;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    transition: all 0.5s;
}

.anim {
    transition: all 0.5s;
}

#con1 li {
    list-style: none;
    line-height: 30px;
    height: 30px;
}

.toutia_sd {
    width: auto !important;
    height: 28px;
}

.tuijian_d {
    color: #ff5000;
    border: 1px solid #3e9800;
    font-size: 14px;
    padding: 1px 8px;
    border-radius: 2px;
    margin-right: 5px;
}

.mb0 {
    margin-bottom: 0px;
}

.dsf_jhkh_as.auq {
    height: 6rem;
}

.dsf_jhkh_as.auq img {
    height: 100%
}

.sdf_ut_sr {
    height: 9.9rem;
}

.sdf_ut_sr img,
.jhg_sdrt img {
    width: 100%;
    height: 100%
}

.jhg_sdrt {
    height: 3.3rem;
    border: 1px solid #fff
}

.btmer {
    border-top: 1px solid #EEEEEE
}

.dsfiyh_sd {
    background: rgba(255, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.df_ih_ddttxc {
    height: 36rem;
}

.df_ih_ddttxc .mui-scroll {
    background: #f4f4f4
}

.df_iyh_sdc {
    height: 40px;
    margin-bottom: 0px !important
}

.df_iyh_sdc img {
    height: 100%;
}

input.w100 {
    width: 100% !important
}

.search_type span {
    display: inline-block;
    background: #ff5000;
    color: #fff;
    height: 30px;
    width: 70px;
    text-align: center;
    line-height: 30px;
}

.se_sd_srtx {
    border: 2px solid #ff5000;
    height: 45px;
    line-height: 45px;
}

.se_sd_srtx input {
    margin: 0px !important;
    border-radius: 0px;
    background: #fff;
}

.se_sd_srtx .mui-placeholder {
    height: 100% !important;
    line-height: 40px !important;
}

.dsf_jh_dtxc {
    border: 1px solid #ccc;
    height: 30px;
    position: relative;
    float: left;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    background: #fff;
    line-height: 30px;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
}

.s_dfmh_sdf li {
    line-height: 35px;
    padding-left: 10px;
    border-top: 1px solid #e0e0e0
}

.s_dfmh_sdf li:first-child {
    border: 0px;
}

.kj_kihj_sed {
    width: 120px;
}

.s_dfmh_sdf .dx {
    color: #666
}

.cheg_srtxc li {
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid#F4F4F4
}

.pl5 {
    padding-left: 5px;
}

.df_u_iy_rtt {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cheg_srtxc li.act {
    border-left: 2px solid #F23030;
    color: #F23030;
    background: #F4F4F4;
}

.lkjh_tusd img {
    width: 50px;
    height: 50px;
}

.df_oiu_drtyc {
    padding-bottom: 20px;
}

.df_oiu_drtyc .mui-col-xs-4 {
    margin-top: 10px;
}

.df_iy_rttc {
    padding-left: 0px;
    padding-right: 10px;
    line-height: 40px;
}

.df_iy_rttc input {
    margin: 0px !important;
    height: 35px !important;
}

.df_iy_rttc i {
    position: absolute;
    right: 40px;
    top: 2px;
}

.mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #ccc;
    box-shadow: 0 0px 0px #ccc;
}

.top_iuty_drt {
    padding-top: 128px !important;
}

.soiy_srtxcf,
.dsf_iuy_erttxc {
    position: relative;
    z-index: 10000
}

#f_uty_er_drt {

    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 9999
}

#f_uty_er_drt .mui-bar {
    position: relative !important;
}

#f_uty_er_drt.act {
    margin-top: -87px;
}

.df_kh_drtxf {
    margin-top: 250px;
}

.df_re_suy {
    height: 24px;
    line-height: 24px;
    padding-top: 4px;
    margin-bottom: 3px;
}

.mui-tab-item.mui-active,
.mui-tab-item.mui-active .dx {
    color: #f00 !important;
}

.app_body {
    padding-top: 45px;
    padding-bottom: 45px;
}

.akoisd_sd .dsf_jhkh_as {
    width: 100% !important;
    padding: 0px !important
}

.akoisd_sd .dsf_jgh_sdrt {
    width: 32%;
    height: 7rem;
    float: left
}

.akoisd_sd .dsf_unhwer {
    overflow: hidden;
    height: 7rem;
    padding-left: 10px;
}

.akoisd_sd .yeer.mt5 {
    margin-top: 20px !important;
}

.dengl_sdgf {
    text-align: center;
    margin-top: 40px;
}

.dengl_sdgf img {
    width: 240px;
}

.logo_iuy_s {
    width: 300px;
    margin: auto;
}

.user_ul i.mui-icon {
    position: absolute;
    left: 5px;
    top: 7px;
}

.user_ul input {
    text-indent: 20px;
    font-size: 16px;
}

.huioj_sdf {
    height: 40px;
}

.df_uiydrtxc {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.df_uiydrtxc.ab {
    position: relative;
}

.dsf_ug_sdf {
    display: none
}

.dsf_jgh_det {
    line-height: 43px;
}

.down_jihdf {
    color: #999;
    left: inherit !important;
    position: absolute;
    right: 5px;
    top: 12px !important;
    font-size: 18px;
}

.dsf_jhj_s li {
    overflow: hidden;
    background: #F6F6F6;
    height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.sd_iyh_juher {
    line-height: 80px;
}

.dsf_jhj_s .mui-slider-right a {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.dsf_jhj_s li .mui-slider-handle {
    background: #F6F6F6 !important;
}

.jhgf_sdrx {
    height: 80px;
    height: 80px;
}

.df_h_sderx {
    height: 40px;
}

.bj_iu_sdf {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #F6F6F6;
    display: none
}

.bj_iu_sdf {
    padding-left: 20px;
}

.zidiy_sefx {
    width: 150px;
}

.zidiy_sefx input {
    text-indent: 0
}

.dsf_jhj_s.act .mui-disabled {
    position: absolute;
    right: 60px;
    top: 0px;
    z-index: 99;
}

.dsf_jhj_s.act .bj_iu_sdf {
    display: block
}

.qujuiesd {
    width: 90px;
    font-size: 16px;
    line-height: 50px;
    padding: 0px;
    border-radius: 0px !important;
}

.sd_jgh_serttx {
    line-height: 50px;
}

.dibu_ssff {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    border-top: 1px solid #e0e0e0
}

.jinziun {
    white-space: nowrap;
}

.jinziun a {
    margin: 0px !important;
    padding: 0px !important;
}

.dfs_uhg_drtx {
    position: absolute;
    right: -18px;
    border-radius: 10px;
    top: -10px;
    width: 24px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #F23030;
}

.df_iy_ert .box_a.act span {
    color: #FF5000;
    border-bottom: 2px solid #FF5000;
    padding-bottom: 10px;
}

.sd_jhj_ertx .banner_sdf {
    padding-top: 101%;
}

.kh_khhsdr {
    border: 1px solid #11C05A;
    color: #11C05A;
    padding: 1px 6px;
}

.kh_khhsdr.ab {
    border: 1px solid #E22770;
    color: #E22770;
}

.ds_yt_setxc .mui-row {
    line-height: 40px;
}

.ds_yt_setxc .mui-row .ov.dianer {
    line-height: 1.3;
    padding-top: 2px;
}

.df_srttxc p {
    margin-bottom: 0px !important
}

.df_srttxc img {
    max-width: 100%;
}

.xq_footr_ds {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    height: 50px;
    background: #F8F8F8;
    width: 100%;
}

.dsf_jh_drrt {
    white-space: nowrap;
    column-gap: 40px !important;
    word-spacing: -4px;
}

.dsf_jh_drrt a {
    border-radius: 0px;
    width: 100px;
    height: 100%;
    line-height: 50px;
    padding: 0px;
    font-size: 16px;
}

.xq_touxingad {
    width: 137px;
    height: 137px;
    border: 1px solid #E5E5E5;
    padding: 4px;
}

.xq_touxingad img {
    width: 100%;
    height: 100%;
}

.cloe_icon_sdf {
    position: absolute;
    right: 0px;
    top: 5px;
}

.fenlei_uiy_sr span {
    font-size: 14px;
    color: #666;
    padding: 4px 10px;
}

.fenlei_uiy_sr span.act {
    background: #F23030;
    color: #fff
}

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after {
    background-color: #F4F4F6 !important;
    -webkit-transform: scaleY(1) !important;
    transform: scaleY(1) !important;
}

.df_jh_drtxc li {
    padding: 7px 0px;
    background: #fff !important
}

.df_jh_drtxc li .kd {
    line-height: 35px;
}

.df_jh_drdsrtxt {
    height: 200px;
}

.tijiao_btn_sd {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.tijiao_btn_sd a {
    border-radius: 0px;
}

.df_jh_drtxc li input {
    color: #333 !important;
}

#lijigm .mui-table-view-cell:after {
    left: 0px;
}

.df_jh_drtxc {
    margin: 0px !important;
}

.top_iu_sdf {
    background: #5D6B85;
}

.dfxiang_sd {
    line-height: 1.5;
    margin-top: 5px;
}

.bianhj_sdfx {
    position: absolute;
    right: 0px;
    color: #3D485F;
    font-size: 20px;
    top: 18px;
}

.qian_sdfx {
    background: #FD4000;
    color: #fff;
    display: inline-block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    width: 25px;
}

.qian_sdfx.ab {
    background: #3B98EE;
}

.qian_sdfx.ac {
    background: #EC1313
}

.qian_sdfx.ad {
    background: #FDA306
}

.qian_sdfx.ae {
    background: #06BB8A
}

.qian_sdfx.af {
    background: #8FC31F
}

.down_ssdr {
    position: absolute;
    right: 10px;
    top: 12px;
}

.df_jh_erdrtxc {
    display: none
}

.df_sd_srrsxd.act .df_jh_erdrtxc {
    display: block
}

.df_sd_srrsxd.act .xng_dsd_sftx {
    transform: rotate(180deg)
}

.df_jh_erdrtxc input,
.df_jh_erdrtxc select {
    font-size: 14px;
    text-indent: 0px;
}

.dsf_jh_drtxc input {
    line-height: 40px;
    padding: 0px;
    text-indent: 10px;
}

.dsf_jh_drtxc a {
    padding: 0px;
    width: 100%;
    line-height: 38px;
}

.fangh_sd_dfx a {
    border: 1px solid #F4F4F6;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;
    color: #666;
}

.fangh_sd_dfx a.act {
    border: 1px solid #3E9800;
}

.dsfer_jh_dr.act :before {
    font-size: 20px;
    content: "\e619";
    position: relative;
    left: 1px;
    color: #FC5C14;
}

.dsfer_jh_dr {
    line-height: 33px;
}

.gouxinsdrx {
    display: inline-block;
    width: 25px;
}

.dingd_dsdtxc {
    text-indent: 0px;
    font-size: 14px;
}

.f_ih_drttxc.icon-gou3 {

    color: #FC5C14;
}

.df_jhg_drtxc input {
    margin-bottom: 0px;
}

.df_jhg_drtxc {
    line-height: 36px;
}

.df_jh_drerttx {
    line-height: 1.5
}

.df_ou_dfrxc {
    padding: 4px 8px;
}

.mt45 {
    margin-top: 45px;
}

.mui-popup {
    width: 310px !important
}

.mui-popup-inner {
    padding: 15px 7px !important
}

.tio_iu_dertt {
    height: 100px;
    background: linear-gradient(to right, #57A600, #B71918);
}

.ding_ersdrtt {
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px
}

.qing_sddf_s li {
    min-height: 100px;
    background: #fff url(../img/abbress.png) repeat-x;
    margin-top: 10px;
}

.qing_sddf_s li input {
    text-indent: 0px;
    font-size: 14px;
}

.down_icond {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
}

.user_tio_sdf {
    height: 110px;
    background: #F32F31;
}

.user_icon_er {
    width: 60px;
    height: 60px;
}

.s_iu_kiu_s {
    line-height: 60px;
}

.ds_jh_erxc {
    height: 28px;
}

.jh_sd_rtxc {
    border: 1px solid #F32F31;
    font-size: 12px;
    position: absolute;
    right: -12px;
    height: 24px;
    width: 24px;
    top: -18px;
    background: #fff;
    line-height: 24px;
    color: #F32F31;
    transform: scale(0.8)
}

.s_jhg_drtxcr .mui-col-xs-3 {
    margin-top: 20px;
}

.mui-input-group input {
    border: 0px !important
}

.dsf_kh_sertx {
    line-height: 40px;
}

.dsf_kh_sertx span.act .icon-bugouxuan:before {
    color: #F88B39;
    content: "\e619" !important;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #FF5000;
    border-bottom: 1px solid #FF5000;
}

.s_jgh_drttc {
    position: absolute;
    right: 10px;
    top: 6px;
    text-align: right;
}

.m120 {
    margin-bottom: 10px;
}

.sehgf_ghonbg_ha input {
    margin: 0px;
    text-indent: 0px;
    font-size: 16px;
    border: 1px solid #EF464B !important
}

.add_btn_h {
    height: 40px;
}

.add_btn_h a {
    height: 100%;
    line-height: 40px;
    padding: 0px;
}

.hpongbaist {
    padding-left: 8px;
    padding-right: 8px;
}

.hpongbaist li {
    min-height: 100px;
    background: #fff;
    margin-top: 10px;
    position: relative
}

.hpongbaist li:after {
    content: " ";
    position: absolute;
    width: 10px;
    background: url(../img/bonus_white.png)#F4F4F4 repeat-y left;
    background-size: auto 10px;
    left: 0px;
    top: 0px;
    height: 100%;
}

.hpongbaist li:before {
    content: " ";
    position: absolute;
    width: 10px;
    background: url(../img/bonus_grey.png)#F4F4F4 repeat-y left;
    background-size: auto 10px;
    right: 0px;
    top: 0px;
    height: 100%;
}

.biaoqiane {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 8px;
    padding-left: 15px;
}

.rihg_ee {
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0
}

.hong_set {
    position: fixed;
    left: 0px;
    top: 44px;
    width: 100%;
    z-index: 100;
    background: #fff;
}

.oiuu_rr_drtx {
    padding-top: 102px !important;
}

.sd_hjg_ert {
    background: #1E2429
}

.tip_rightbtn {
    position: absolute;
    right: 10px;
    top: 2px;
    z-index: 1000
}

.tip_rightbtn a {
    padding: 2px 10px !important;
    background: #42464B;
    border: 1px solid #42464B !important;
    color: #999;
}

.top_e_drttxc {
    background: #1E2429
}

.chibgz_kasr {
    background: #04B665;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 177px;
}

.mt25 {
    margin-top: 25px;
}

.dsf_uy_sdf {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    right: 10px;
    min-width: 150px;
    top: 5px;
    padding-left: 10px;
}

.dfsg_iy_drtx {
    width: 38px;
    height: 38px;
}

.dsf_iy_sd {
    line-height: 1.3;
    margin-top: 2px;
}

.dsf_uiy_df {
    background: rgba(255, 255, 255, 0.3);
    padding: 4px 6px 4px 10px;
    border-radius: 10px;
}

.sdf_d_sdttxc .tuijian_d {
    display: none;
}

.s_khj_u_ertx {
    line-height: 30px;
}

.chong_neo {
    background: #01B562;
    height: 8rem;
    border-radius: 4px;
    min-height: 130px;
    border: 2px solid #FFFFFF
}

.df_khj_nsd {
    line-height: 1.3;
    margin-top: 5px;
}

.jg_tbnghtop {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%
}

.jg_tbnghtop i.dx {
    margin-left: 5px;
    position: relative;
    top: 2px
}

.shg_sertxc {
    background: #F8E71C;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    right: 0px;
    padding: 2px 10px;
}

.df_jhg_er_er {
    padding-right: 2px;
    margin-top: 10px;
}

.df_jhg_er_er:nth-child(2n) {
    padding-right: 0px;
    padding-left: 2px;
}

.f_jh_ertxc {
    padding-bottom: 100px;
}

.botn_sdff {

    background: #1E2429
}

.df_iy_sdr {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99
}

.hg_sd_sfgf {
    background: rgba(0, 0, 0, .8);
}

.suse_sffx {
    width: 24px;
}

.xujygh_sdf {
    width: 30px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    display: none;
}

.chong_neo.act {
    border: 2px solid #ff0036
}

.chong_neo.act .xujygh_sdf {
    display: block
}

.sd_dd_sf {
    width: 100px;
    height: 100%;
}

.hg_iy_s {
    height: 50px;
    background: #fff;
    line-height: 50px;
}

.sd_dd_sf a {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding: 0;
    font-size: 16px;
    border-radius: 0;
}

.bgtm {
    background: transparent
}

.jh_top_drtx {
    background: #fff;
    height: 40px;
}

.qc_erertc {
    margin-bottom: 0px;
}

.qc_erertc img {
    width: 160px;
    height: 160px;
}

.sd_jh_dserv i {
    background: #E81B74;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 26px;
}

.sd_jh_dserv i.ab {
    background: #49C730;
    font-size: 28px;
    margin-left: 10px;
}

.df_kjh_eertxc {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.df_kjh_eertxc td {
    line-height: 40px;
}

.tuijian {
    padding: 10px;
    line-height: 28px;
    color: #999;
}

.tuijian span {
    color: #F60;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
}

.tuijian a {
    color: #4acfec;
}

.d_jg_df {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 36px;
    color: #FB8B88
}

.dsf_h_sertxc {
    background: #fff;
    height: 110px;
    text-align: center;
    border-right: 1px solid #F4F4F6;
    border-bottom: 1px solid #F4F4F6
}

.dsf_h_sertxc:nth-child(2n) {
    border-right: 0px;
}

.df_jh_dserx {
    height: 80px;
    line-height: 80px;
}

.fz44 {
    font-size: 44px;
}

.honghnumd {
    background: #F39800;
    position: absolute;
    right: -4px;
    top: -18px;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.fd_yiansdf {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -5px;
    top: 48%;
}

.df_jh_swertx {
    position: fixed;
    left: 0px;
    top: 44px;
    width: 100%;
    z-index: 999
}

.dsf_kjh_dert {
    padding-top: 91px !important;
}

.dsf_kjh_dert.ab {
    padding-top: 100px !important;
}

.m0 {
    margin: 0
}

.sd_jihg_sert li {
    line-height: 30px;
    color: #666
}

.quxiaoser {
    padding: 4px 10px;
    !important;
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.mycard {

    box-shadow: 0 1px 2px rgba(0, 0, 0, .0);
}

.mycard .mui-card-content-inner {
    padding-bottom: 10px;
    padding-top: 10px;
}

.kh_ul_list {
    margin-bottom: 100px;
}

.mb0 {
    margin-bottom: 0px;
}

.dsf_juyh_top {
    height: 110px;
}

.df_uiycdfx {
    width: 100% !important;
    position: relative !important;
}

#yijiandaima {
    background: #5B5E6F;
    padding-bottom: 50px;
}

.ana {
    display: inline-block;
    height: 13px;
    width: 106px;
    margin-right: 5px;
    background: url(../img/user_center1.png) no-repeat;
}

.ana.ab {
    background-position: 0px -14px;
}

.ana.ac {
    background-position: 0px -28px;
}

.ana.ad {
    background-position: 0px -54px;
}

.fdg_h_sd_d .mui-row {
    margin-top: 10px;
}

.buzou_s {
    padding-top: 20px;
    overflow: hidden;
    height: 60px;
}

.buzou_s .mui-col-xs-4 {
    border-bottom: 4px solid #ccc;
    position: relative
}

.buzou_s .jindu_ner {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: -10px;
}

.jindu_ner .dx {
    color: #ccc;
    width: 22px;
    height: 22px;

    font-size: 24px;
    background: #fff;
    border-radius: 50%;
}

.buzou_s .jindu_ner span {
    background: #CCCCCC;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
}

.buzou_s.buzou0 .mui-col-xs-4:nth-child(1),
.buzou_s.buzou1 .mui-col-xs-4:nth-child(1),
.buzou_s.buzou1 .mui-col-xs-4:nth-child(2),
.buzou_s.buzou2 .mui-col-xs-4
{
    border-bottom: 4px solid #7ABD54
}

.buzou_s.buzou0 .mui-col-xs-4:nth-child(1) span,
.buzou_s.buzou1 .mui-col-xs-4:nth-child(1) span,
.buzou_s.buzou1 .mui-col-xs-4:nth-child(2) span,
.buzou_s.buzou2 .mui-col-xs-4 span
{
    background: #7ABD54;
}


.buzou_s.buzou0 .mui-col-xs-4:nth-child(1) p,
.buzou_s.buzou1 .mui-col-xs-4:nth-child(1) p,
.buzou_s.buzou1 .mui-col-xs-4:nth-child(2) p,
.buzou_s.buzou1 .mui-col-xs-4:nth-child(1) .dx,
.buzou_s.buzou2 .mui-col-xs-4 p,
.buzou_s.buzou2 .mui-col-xs-4 .dx
{
    color: #7ABD54
}

.yj_s_rtxc {
    border: 0px !important;
    padding-left: 12px !important;
}

.hq_yadrttc {
    position: absolute;
    right: 0px;
    width: auto !important;
    top: 1px;
}

.mui-btn {
    transition-duration: .0s;
}

.dsf_jh_we {
    display: none
}

.dsf_jgh_ertx {
    line-height: 1.5
}

.dsf_jgh_ertx .dx {
    position: absolute;
    left: -30px;
    top: -4px;
}
.df_juhg_drtxc .box_a{
    padding-top: 10px;
    padding-bottom: 7px !important;
}
.hq_yadrttc.acm{
    background: #e0e0e0;
    border: 1px solid #e0e0e0
}
.user_pingjia .mui-control-item.mui-active{
        background-color: #F23030;
}
.user_pingjia .mui-control-item{
    color: #F23030;
        border-color: #F23030;
    border-left: 1px solid #F23030;
}
.user_pingjia{
     border: 1px solid #F23030;
}
   
.guanli_dis{
    background: url(../img/abbress.png) #fff repeat-x;
    min-height: 100px;
}
.icon-bugouxuan.act:before { content: "\e708"; color: #E71F19;}
.df_ng_btnsf{
    height: 40px;
    line-height: 38px;
}
.hg_e_settxc{
    position: relative;
    top: 5px;
}
.hg_e_settxc a{
    padding: 0px 8px;
    height: 28px;
    line-height: 28px;
    color: #666
  
}
.mui-card{
    margin: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .0);
}
.dsf_jh_set .ti{
    position: relative;
    padding-left: 10px;
}
.dsf_jh_set .ti:after{
    content: ' ';
    position: absolute;
    left: 0px;
    top: 2px;
    height: 18px;
    width: 2px;
    background: #EB0000
}
.fabuliyu_ser{
    position: fixed;
    left: 0px;;
    bottom: 0px;
    width: 100%;
    z-index: 100;
}
.df_jh_ertxc span.fz15{
    margin-right: 5px;
}
.sdf_jih_ertcc{
    line-height: 40px;
}
.sdf_jih_ertcc input{
    margin-bottom: 0px;
    text-indent: 0px;
    font-size: 16px;
}
.liuyan_sert{
    text-indent: 0px;
    font-size: 16px;
}
.pt45{
    padding-top: 45px;
}
.ds_jgh_wert a{
    padding: 0 20px !important;
}
@media screen and (max-width:330px) {
    .cheg_srtxc li {
        font-size: 12px;
    }
    .fd_iuy_etx {
        min-width: 90px;
    }
    .qujuiesd {
        width: 70px;
    }
    .dsf_jh_drrt a {
        width: 90px;
    }
    .xq_touxingad {
        width: 120px;
        height: 120px;
    }
}
