<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title> 个人中心 </title>
		<link href="css/mui.min.css" rel="stylesheet">
		<link href="css/base.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<style>
			.sd_jh_ceer {
				min-height: 500px;
			}
		</style>
	</head>

	<body>
		<section id="app">
			<section class="mui-row pd pt10 sdf_jh_deer">
				<p class="mui-col-xs-9">
					<input type="text" class="fz16 " placeholder="请小可爱输入歌曲名称" v-model="get_sdf">
				</p>
				<p class="mui-col-xs-3 pl10">
					<a class="w100 mui-btn-primary mui-btn" href="javascript:void(0)" @click="getdate">搜索</a>
				</p>
			</section>
			<ul class="mui-table-view mt10 sd_jh_ceer">
				<li class="mui-table-view-cell" v-for="sd in sd_dd">
					<a class="mui-navigate-right fz14" v-html="sd.FileName" @click="get_utl(sd.FileHash,sd.AlbumID,sd.FileName)">

					</a>
				</li>
			</ul>
		</section>
		<script src="js/vue.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/base.js"></script>
		<script>
			var sd_sd = ""
			var km = new Vue({
				el: '#app',
				data: {
					sd_dd: "",
					get_sdf: ""
				},
				methods: {
					get_utl: function(FileHash, AlbumID, name_e) {
						var th = this
						var kugou = {}
						kugou.FileHash = FileHash
						kugou.AlbumID = AlbumID
						m_ajax("http://duxinggj.com/kugou", kugou, function(data) {
							var s_ddfrrt = JSON.parse(data).data.play_url
							var path = plus.io.convertLocalFileSystemURL(s_ddfrrt);
							var newurl = plus.io.convertAbsoluteFileSystem(path);
							th.createDownload(s_ddfrrt)
						});

					},
					getdate: function() {
						var th = this
						var sd_dert = th.get_sdf
						sd_dert = encodeURI(sd_dert)
						var url_dr = "http://songsearch.kugou.com/song_search_v2?keyword=" + sd_dert + "&page=1&pagesize=100&userid=-1&clientver=&platform=WebFilter&tag=em&filter=2&iscorrection=1&privilege_filter=0&_=1531121973068"
						m_ajax(url_dr, '', function(date) {
							th.sd_dd = date.data.lists 
						})
 
					},
					createDownload: function(url_e) {
						var ds_sd_sd = plus.nativeUI.showWaiting("玩命下载中...");
						var dtask = plus.downloader.createDownload(url_e, {}, function(d, status) {
							// 下载完成
							if(status == 200) {
								ds_sd_sd.close() 
								plus.runtime.openFile(d.filename, function(){
									ds_sd_sd.close() 
								}, function(e) {
									plus.nativeUI.alert("无法打开此文件：" + JSON.stringify(e));
								})
							} else {
								alert("Download failed: " + status);
							}
						});
						//dtask.addEventListener( "statechanged", onStateChanged, false );
						dtask.start();
					}

				},
				created: function() {
					var th = this
					mui.plusReady(function() {

					})
				}
			})
		</script>
	</body>

</html>